section.goods-video 
    .containers 
        h5.goods-video__title Видео
        p.goods-video__text Производим разделители полок и папок. Выдвижные полки и ящики. Двери распашные и жалюзи (ролеты).
        .goods-video__video 
            +videoPlaceholder('./img/pages/goods/video.png')