section.catalog-list
    .containers
        h3.catalog-list__title Каталог
        ul.catalog-list__list
            li.catalog-list__item
                +catalogCard(1, "./img/pages/catalog/catalogList/dec-1.jpg")
            li.catalog-list__item
                +catalogCard(1, "./img/pages/catalog/catalogList/dec-2.jpg")
            li.catalog-list__item
                +catalogCard(1, "./img/pages/catalog/catalogList/dec-1.jpg")
        ul.catalog-list__list
            li.catalog-list__item
                +catalogCard(2, "./img/pages/catalog/catalogList/dec-1.jpg")
            li.catalog-list__item
                +catalogCard(2, "./img/pages/catalog/catalogList/dec-2.jpg")
            li.catalog-list__item
                +catalogCard(2, "./img/pages/catalog/catalogList/dec-1.jpg")
        ul.catalog-list__list
            li.catalog-list__item
                +catalogCard(3, "./img/pages/catalog/catalogList/dec-1.jpg")
            li.catalog-list__item
                +catalogCard(3, "./img/pages/catalog/catalogList/dec-2.jpg")
            li.catalog-list__item
                +catalogCard(3, "./img/pages/catalog/catalogList/dec-1.jpg")
        ul.catalog-list__list
            li.catalog-list__item
                +catalogCard(4, "./img/pages/catalog/catalogList/dec-1.jpg")
            li.catalog-list__item
                +catalogCard(4, "./img/pages/catalog/catalogList/dec-2.jpg")
            li.catalog-list__item
                +catalogCard(4, "./img/pages/catalog/catalogList/dec-1.jpg")
        ul.catalog-list__list
            li.catalog-list__item
                +catalogCard(5, "./img/pages/catalog/catalogList/dec-1.jpg")
            li.catalog-list__item
                +catalogCard(5, "./img/pages/catalog/catalogList/dec-2.jpg")
            li.catalog-list__item
                +catalogCard(5, "./img/pages/catalog/catalogList/dec-1.jpg")
        
        .catalog-list__button 
            +buttonGray('Скачать каталог', '#')