mixin catalogCard()
    .catalogCard
        .catalogCard__banner 
            img(src="./img/pages/catalog/catalogList/card.png" alt="")
        .catalogCard__content 
            h5.catalogCard__content-title Передвижные стеллажи серия
            .catalogCard__content-type 
                .catalogCard__content-icon 
                    p Л
                .catalogCard__content-subtitle
                    p без фальшпола
            p.catalogCard__content-text Базовый вариант стеллажей для хранилищ библиотек. Небольшой вес минимизирует нагрузку на перекрытия.
            ul.catalogCard__content-descriptions
                li.catalogCard__content-description Нагрузка на полку, 
                    span до 80кг 
                li.catalogCard__content-description Высота стеллажа, 
                    span от 1800 - 3500мм
            .catalogCard__content-price ЦЕНА: 
                span от 16 660 ₽
        .catalogCard__hover
            h5.catalogCard__hover-title Передвижные стеллажи серия
            .catalogCard__hover-type 
                .catalogCard__hover-icon 
                    p Л
                .catalogCard__hover-subtitle
                    p без фальшпола
            p.catalogCard__hover-text Базовый вариант стеллажей для хранилищ библиотек. Небольшой вес минимизирует нагрузку на перекрытия.
            ul.catalogCard__hover-descriptions
                li.catalogCard__hover-description Нагрузка на полку, 
                    span до 80кг 
                li.catalogCard__hover-description Высота стеллажа, 
                    span от 1800 - 3500мм
            table.catalogCard__hover-statics 
                tr
                    td.catalogCard__hover-static
                        p Высота секции, мм. 
                        span до 2700
                tr
                    td.catalogCard__hover-static
                        p Длина, мм. 
                        span до 8000
                tr
                    td.catalogCard__hover-static
                        p Длина полки, мм. 
                        span до 1250
                tr
                    td.catalogCard__hover-static
                        p Глубина, мм. 
                        span от 200 до 450
                tr
                    td.catalogCard__hover-static
                        p Нагрузка на полку, кг. 
                        span до 80
                tr
                    td.catalogCard__hover-static
                        p На секцию, кг. 
                        span до 960
            .catalogCard__hover-price ЦЕНА: 
                span от 16 660 ₽
            .catalogCard__hover-buttons 
                a(href="").catalogCard__hover-button
                    p Купить
                a(href="").catalogCard__hover-button
                    p Подробнее
