mixin catalogCard(type = 1)
    if type == 1
        +catalogCardOne()
    if type == 2
        +catalogCardTwo()
    if type == 3
        +catalogCardThree()
    if type == 4
        +catalogCardFour()
    if type == 5
        +catalogCardFive()


mixin catalogCardOne()
    .catalogCard
        a(href="#").catalogCard__banner 
            img(src="./img/pages/catalog/catalogList/card.png" alt="")
        .catalogCard__content
            a(href="#").catalogCard__content-title Передвижные стеллажи серия
            .catalogCard__content-type 
                .catalogCard__content-icon 
                    p Л
                .catalogCard__content-subtitle
                    p без фальшпола
            p.catalogCard__content-text Базовый вариант стеллажей для хранилищ библиотек. Небольшой вес минимизирует нагрузку на перекрытия.
            ul.catalogCard__content-descriptions
                li.catalogCard__content-description Нагрузка на полку, 
                    span до 80кг 
                li.catalogCard__content-description Высота стеллажа, 
                    span от 1800 - 3500мм
            table.catalogCard__content-statics 
                tr
                    td.catalogCard__content-static
                        p Высота секции, мм. 
                        span до 2700
                tr
                    td.catalogCard__content-static
                        p Длина, мм. 
                        span до 8000
                tr
                    td.catalogCard__content-static
                        p Длина полки, мм. 
                        span до 1250
                tr
                    td.catalogCard__content-static
                        p Глубина, мм. 
                        span от 200 до 450
                tr
                    td.catalogCard__content-static
                        p Нагрузка на полку, кг. 
                        span до 80
                tr
                    td.catalogCard__content-static
                        p На секцию, кг. 
                        span до 960
            .catalogCard__content-price ЦЕНА: 
                span от 16 660 ₽
            .catalogCard__content-buttons
                button.catalogCard__content-button
                    p Купить
                a(href="").catalogCard__content-button
                    p Подробнее

mixin catalogCardTwo()
    .catalogCard
        a(href="#").catalogCard__banner 
            img(src="./img/pages/catalog/catalogList/card.png" alt="")
        .catalogCard__content
            a(href="#").catalogCard__content-title Передвижные стеллажи серия
            .catalogCard__content-type 
                .catalogCard__content-icon 
                    p Л
                .catalogCard__content-subtitle
                    p без фальшпола
            p.catalogCard__content-text Базовый вариант стеллажей для хранилищ библиотек. Небольшой вес минимизирует нагрузку на перекрытия.
            .catalogCard__content-price ЦЕНА: 
                span от 16 660 ₽
            .catalogCard__content-buttons
                button.catalogCard__content-button
                    p Купить
                a(href="").catalogCard__content-button
                    p Подробнее

mixin catalogCardThree()
    .catalogCard 
        a(href="#").catalogCard__banner.catalogCard__banner-scale
            img(src="./img/pages/catalog/catalogList/card.png" alt="")
        .catalogCard__content
            a(href="#").catalogCard__content-title Передвижные стеллажи серия
            .catalogCard__content-type 
                .catalogCard__content-icon 
                    p Л
                .catalogCard__content-subtitle
                    p без фальшпола
            p.catalogCard__content-text Базовый вариант стеллажей для хранилищ библиотек. Небольшой вес минимизирует нагрузку на перекрытия.
            .catalogCard__content-price ЦЕНА: 
                span от 16 660 ₽
            .catalogCard__content-buttons
                button.catalogCard__content-button
                    p Купить

mixin catalogCardFour()
    .catalogCard
        a(href="#").catalogCard__banner.catalogCard__banner-height
            img(src="./img/pages/catalog/catalogList/card.png" alt="")
        .catalogCard__content
            a(href="#").catalogCard__content-title Передвижные стеллажи серия
            .catalogCard__content-type 
                .catalogCard__content-icon 
                    p Л
                .catalogCard__content-subtitle
                    p без фальшпола
            p.catalogCard__content-text Базовый вариант стеллажей для хранилищ библиотек. Небольшой вес минимизирует нагрузку на перекрытия.
            ul.catalogCard__content-descriptions
                li.catalogCard__content-description Нагрузка на полку, 
                    span до 80кг 
                li.catalogCard__content-description Высота стеллажа, 
                    span от 1800 - 3500мм
            table.catalogCard__content-statics 
                tr
                    td.catalogCard__content-static
                        p Высота секции, мм. 
                        span до 2700
                tr
                    td.catalogCard__content-static
                        p Длина, мм. 
                        span до 8000
                tr
                    td.catalogCard__content-static
                        p Длина полки, мм. 
                        span до 1250
                tr
                    td.catalogCard__content-static
                        p Глубина, мм. 
                        span от 200 до 450
                tr
                    td.catalogCard__content-static
                        p Нагрузка на полку, кг. 
                        span до 80
                tr
                    td.catalogCard__content-static
                        p На секцию, кг. 
                        span до 960
            .catalogCard__content-price ЦЕНА: 
                span от 16 660 ₽
            .catalogCard__content-buttons
                button.catalogCard__content-button
                    p Купить
                a(href="").catalogCard__content-button
                    p Подробнее

mixin catalogCardFive()
    .catalogCard
        a(href="#").catalogCard__banner
            img(src="./img/pages/catalog/catalogList/card.png" alt="")
        .catalogCard__content
            a(href="#").catalogCard__content-title Передвижные стеллажи серия
            .catalogCard__content-type 
                .catalogCard__content-icon 
                    p Л
                .catalogCard__content-subtitle
                    p без фальшпола
            p.catalogCard__content-text Базовый вариант стеллажей для хранилищ библиотек. Небольшой вес минимизирует нагрузку на перекрытия.