.catalog-list {
	width: 100%;
	background-color: $color-white;
	padding: 50px 0;
	& .containers {
		width: 100%;
		@include flexStyle(flex-start, flex-start, column, 55px);
	}
	&__title {
		@include fontStyle(40px, 700, 58px, $color-blue-black);
	}
	&__list {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		gap: 25px 20px;
	}
	&__item {
		width: 100%;
	}
	&__button {
		margin: 0 0 0 auto;
	}
}

// Mixin

.catalogCard {
	background: $color-light-yellow-green;
	border-radius: 20px;
	@include flexStyle(flex-start, flex-start, column);
	max-width: 406px;
	position: relative;
	cursor: pointer;
	&:hover {
		.catalogCard__banner-scale {
			& img {
				transition: all 0.5s ease;
				transform: scale(1.2);
			}
		}
	}
	&__banner {
		width: 100%;
		height: 290px;
		overflow: hidden;
		border-radius: 20px 20px 0 0;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&-height {
			width: 100%;
			height: 400px;
			& img {
				width: 100%;
				height: 400px;
			}
		}
	}
	&__content {
		width: 100%;
		padding: 15px 30px 25px 30px;
		@include flexStyle(flex-start, flex-start, column, 20px);
		&-title {
			@include fontStyle(18px, 700, 27px, $color-black);
		}
		&-type {
			width: 100%;
			display: grid;
			grid-template-columns: 36px 1fr;
			gap: 11px;
		}
		&-icon {
			width: 36px;
			height: 36px;
			@include flexStyle(center, center);
			background: $color-white;
			border-radius: 50%;
		}
		&-subtitle {
			border: 1px solid #989898;
			border-radius: 64px;
			padding: 6px 22px;
			width: max-content;
			& p {
				@include fontStyle(15px, 500, 25px, $color-black);
				letter-spacing: -0.5px;
			}
		}
		&-text {
			margin-top: 7px;
			@include fontStyle(15px, 500, 25px, $color-gray-black);
			letter-spacing: -0.5px;
		}
		&-descriptions {
			width: 100%;
			@include flexStyle(flex-start, flex-start, column, 5px);
		}
		&-description {
			letter-spacing: -0.5px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;

			@include fontStyle(15px, 500, 25px, $color-black);
			& span {
				font-weight: 700;
			}
		}
		&-statics {
			width: 100%;
			& tbody {
				margin-top: 15px;
				width: 100%;
				@include flexStyle(flex-start, flex-start, column, 5px);
			}
			& tr {
				width: 100%;
			}
		}
		&-static {
			letter-spacing: -0.5px;
			width: 100%;
			@include fontStyle(15px, 500, 25px, $color-gray-black);
			@include flexStyle(center, space-between, row, 20px);
		}
		&-price {
			margin-top: 6px;
			letter-spacing: -0.5px;
			@include fontStyle(15px, 500, 25px, $color-gray-black);
			& span {
				font-weight: 700;
			}
		}
		&-buttons {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
		}
		&-button {
			background: $color-yellow;
			border-radius: 5px;
			padding: 8px 20px;
			@include flexStyle(center, center);
			& p {
				@include fontStyle(17px, 700, 25px, $color-black);
			}
		}
	}
}

//| Media

@media (max-width: 900px) {
	.catalog-list__list {
		grid-template-columns: 1fr;
		& .catalogCard {
			width: 100%;
		}
	}
	.catalog-list__button {
		margin: 0 auto 0 0;
	}
	.catalogCard__banner-height {
		height: 400px !important;
		& img {
			height: 400px !important;
		}
	}
}

@media (max-width: 400px) {
	.catalogCard__content {
		padding: 15px;
	}
	.catalogCard__banner {
		height: 200px;
	}
}
