section.helper
    .containers
        h5.helper__title Помощь
        ul.helper__list
            each _, i in Array(3)
                li.helper__item
                    +helperCard('Как правильно выбрать ?')