.formBase
    .containers 
        p.formBase__title Подберем решение
        .formBase__container
            .formBase__banner 
                img(src="./img/formBase/banner.png" alt="")
            .formBase__form 
                .formBase__form-banner
                    span БОНУС: 
                    p «Проект бесплатно в течение 24 часов»
                script(data-b24-form="inline/36/exrs6e" data-skip-moving="true").    
                    (function(w,d,u){
                        var s = d.createElement('script');
                        s.async=true;s.src=u +'?' + 20230107035513 +(Date.now()/180000|0);
                        var h = d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                    })
                    (window, document, 'https://cdn-ru.bitrix24.ru/b19623448/crm/form/loader_36.js');