section.article-detail
    .containers
        .catalog-main__content-add.article-detail__add 
                a(href="#") Главная
                | / 
                span 
                    a(href="#") Помощь
                | / 
                span 
                    a(href="#") Статьи
                
    .containers

        h5.article-detail__title ПЕРЕДВИЖНЫЕ СТЕЛЛАЖИ - САМОСТОЯТЕЛЬНЫЙ ВЫБОР КОНСТРУКЦИИ
        p.article-detail__text Применение передвижных (мобильных) стеллажей дает возможность высвободить до 3/4 полезной площади при организации системы хранения. Это становится возможным благодаря уменьшению количества рабочих проходов. Ведь в случае с применением стационарных стеллажей примерно половину помещения приходится отдавать на устройство широких межстеллажных проходов. А в случае использования передвижных стеллажей достаточно организовать лишь один проход. Он и будет обеспечивать возможность доступа к любому стеллажу. А площадь, которая освободилась, можно либо отвести под другие нужды, либо оборудовать на ней дополнительные стеллажи.
        ul.article-detail__others
            each _, i in Array(2)
                li.article-detail__other 
                    +articleDetailCard('./img/pages/article/card.png', 'Площадь помещения архива используется с максимальной эффективностью')
        h5.article-detail__title ПЕРЕДВИЖНЫЕ СТЕЛЛАЖИ: КОНСТРУКЦИЯ И ПРИНЦИП РАБОТЫ.
        p.article-detail__text 
            | Главными элементами являются паллетные либо полочные стеллажи, которые монтируются на подвижной платформе. Свободный доступ к тому или иному стеллажу организован с помощью рельс (направляющих путей), по которым двигается стеллажная конструкция.
            br
            br
            span Различают два варианта установки рельс:
            br 
            br 
            | Первый вариант – укладка направляющих путей передвижного стеллажа на пол. Данный способ подразумевает устройство «фальшпола» – элемента стеллажной системы, которая формирует монолитную и ровную поверхность с рельсами. Данная конструкция обладает мобильностью и, если нужно, ее легко демонтировать. Еще одно преимущество фальшпола в такой конструкции – в том, что он представляет собой жесткую систему, которая уменьшает нагрузку на пол. Также стоит отметить, что передвижные стеллажи можно устанавливать независимо от фактуры пола. А если он деревянный, то данный вид крепления не имеет альтернативы. Наконец, смонтировать и демонтировать их как правило, можно самостоятельно, без участия специалистов. Во втором варианте установки рельсы передвижного стеллажа монтируются в пол. В этом случае требования к прочности и качеству полового покрытия более высокие. И самостоятельно монтировать и демонтировать такие системы не следует. А к их преимуществам относится, в первую очередь, стоимость: данные конструкции примерно на 25 % дешевле, чем передвижные стеллажи с фальшполом. Область применения таких систем – большие хранилища (склады, библиотеки, крупные архивы и др.)
            br
            br
            | Передвижные стеллажи также классифицируются в зависимости от способа передвижения:
        ul.article-detail__list 
            each _, i in Array(4)
                li.article-detail__item 
                    +additionCard('./img/pages/article/card.png', 'Дополнительное оборудование', 'Идеальный вариант для помещения с ровными полами')