.indexCatalogLink
    .containers
        .indexCatalogLink__content 
            .indexCatalogLink__content-title Каталог
            ul.indexCatalogLink__content-list
                each _, i in Array(6)
                    li.indexCatalogLink__content-item 
                        a(href="/").indexCatalogLink__content-block 
                            .indexCatalogLink__content-number 01
                            .indexCatalogLink__content-subtitle Передвижные стеллажи
                            .indexCatalogLink__content-link 
                                img(src="./svg/index/indexCatalogLink/arrow-link-black.svg" alt="")
            .indexCatalogLink__content-button 
                +buttonYellow('РАССЧИТАТЬ ПРОЕКТ ЗА 24 ЧАСА', '/')
        .indexCatalogLink__banner 
            .indexCatalogLink__banner-container
                img(src="./img/index/indexCatalogLink/bg.png" alt="")
                .indexCatalogLink__banner-text 
                    p Стационарные стеллажи