section.indexCatalogLink
    .containers
        .indexCatalogLink__content 
            .indexCatalogLink__content-title Каталог
            ul.indexCatalogLink__content-list
                li.indexCatalogLink__content-item(aria-photo="./img/index/indexCatalogLink/dec-1.png")
                    a(href="/").indexCatalogLink__content-block
                        .indexCatalogLink__content-number 01
                        .indexCatalogLink__content-subtitle Передвижные стеллажи
                        .indexCatalogLink__content-link 
                            img(src="./svg/index/indexCatalogLink/arrow-link-black.svg" alt="")
                li.indexCatalogLink__content-item(aria-photo="./img/index/indexCatalogLink/dec-2.png")
                    a(href="/").indexCatalogLink__content-block
                        .indexCatalogLink__content-number 02
                        .indexCatalogLink__content-subtitle Стеллажи с электроприводом
                        .indexCatalogLink__content-link 
                            img(src="./svg/index/indexCatalogLink/arrow-link-black.svg" alt="")
                li.indexCatalogLink__content-item(aria-photo="./img/index/indexCatalogLink/dec-3.png")
                    a(href="/").indexCatalogLink__content-block
                        .indexCatalogLink__content-number 03
                        .indexCatalogLink__content-subtitle Стационарные стеллажи
                        .indexCatalogLink__content-link 
                            img(src="./svg/index/indexCatalogLink/arrow-link-black.svg" alt="")
                li.indexCatalogLink__content-item(aria-photo="./img/index/indexCatalogLink/dec-4.png")
                    a(href="/").indexCatalogLink__content-block
                        .indexCatalogLink__content-number 04
                        .indexCatalogLink__content-subtitle Среднегрузовые полочные стеллажи
                        .indexCatalogLink__content-link 
                            img(src="./svg/index/indexCatalogLink/arrow-link-black.svg" alt="")
                li.indexCatalogLink__content-item(aria-photo="./img/index/indexCatalogLink/dec-5.png")
                    a(href="/").indexCatalogLink__content-block
                        .indexCatalogLink__content-number 05
                        .indexCatalogLink__content-subtitle Стеллажи с выкатными платформами
                        .indexCatalogLink__content-link 
                            img(src="./svg/index/indexCatalogLink/arrow-link-black.svg" alt="")
                li.indexCatalogLink__content-item(aria-photo="./img/index/indexCatalogLink/dec-6.png")
                    a(href="/").indexCatalogLink__content-block
                        .indexCatalogLink__content-number 06
                        .indexCatalogLink__content-subtitle Дополнительное оборудование
                        .indexCatalogLink__content-link 
                            img(src="./svg/index/indexCatalogLink/arrow-link-black.svg" alt="")
                
            .indexCatalogLink__content-button 
                +buttonYellow('РАССЧИТАТЬ ПРОЕКТ ЗА 24 ЧАСА')
        .indexCatalogLink__banner 
            .indexCatalogLink__banner-container
                img(src="./img/index/indexCatalogLink/dec-1.png" alt="")
                .indexCatalogLink__banner-text 
                    p Передвижные стеллажи