.indexCatalogLink {
	width: 100%;
	padding: 150px 0 110px 0;
	background-color: $color-white;
	& .containers {
		@include flexStyle(flex-start, space-between, row, 30px);
	}
	&__banner {
		width: 571px;
		height: 663px;
		overflow: hidden;
		position: relative;
		border-radius: 20px;
		&-container {
			width: 100%;
			height: 100%;
			& img {
				@include imgFullSize();
			}
		}
		&-text {
			width: 100%;
			height: max-content;
			background: $color-blue;
			padding: 32px;
			box-sizing: border-box;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 2;
			@include flexStyle(center, center);
			& p {
				text-transform: uppercase;
				@include fontStyle(18px, 700, 21px, $color-white);
			}
		}
	}
	&__content {
		@include flexStyle(flex-start, flex-start, column);
		gap: 50px;
		&-title {
			@include fontStyle(40px, 700, 58px, $color-blue);
		}
		&-list {
			width: 578px;
			@include flexStyle(flex-start, flex-start, column);
		}
		&-item {
			width: 100%;
			border-bottom: 1px solid $color-gray-light;
			@include transitionStyle();
			&:first-child {
				border-top: 1px solid $color-gray-light;
			}
			&:hover {
				& .indexCatalogLink__content-number {
					text-transform: uppercase;
					@include fontStyle(18px, 400, 27px, $color-black);
					@include transitionStyle();
				}
				& .indexCatalogLink__content-subtitle {
					text-transform: uppercase;
					@include fontStyle(18px, 700, 21px, $color-black);
					@include transitionStyle();
				}
			}
		}
		&-block {
			display: grid;
			grid-template-columns: 0.5fr 8fr 30px;
			gap: 15px;
			align-items: center;
			padding: 19px 0 25px 0;
		}
		&-number {
			text-transform: uppercase;
			@include fontStyle(12px, 350, 27px, $color-black);
			@include transitionStyle();
		}
		&-subtitle {
			text-transform: uppercase;
			@include fontStyle(18px, 400, 21px, $color-black);
			@include transitionStyle();
		}
		&-button {
			margin: 0 0 0 auto;
		}
	}
}

//| Media

@media (max-width: 1200px) {
	.indexCatalogLink__banner {
		display: none;
	}
	.indexCatalogLink__content {
		width: 100%;
	}
	.indexCatalogLink__content-list {
		width: 100%;
	}
}

@media (max-width: 600px) {
	.indexCatalogLink__content-button {
		width: 100%;
		& button {
			width: 100%;
		}
	}
	.indexCatalogLink__content-subtitle {
		font-size: 13px;
		line-height: 15px;
	}
	.indexCatalogLink__content-block {
		padding: 23px 0;
	}
}
