section.decision-description
    .containers 
        h5.decision-description__title Преимущества конструкции
        p.decision-description__text Стеллажи состоят из каркасной части (надстройки) и мобильной базы с рельсовой системой. В качестве каркасной части используются архивные или складские стеллажи, шкафы или сетчатые конструкции. Всё это дает возможность оборудовать архив (нагрузка на полку 60 кг) или склад где Вы можете на одной полке хранить товар весом до 350 кг.
        .decision-description__banner 
            img(src="./img/pages/decision/description.png" alt="")