section.news-detail
    .containers
        .news-detail__subtitle 
            a(href="#") Главная 
            | / 
            span 
                a(href="#") Кейсы
        h1.news-detail__title ПОЗДРАВЛЯЕМ С ДНЕМ ЗНАНИЙ, 1 СЕНТЯБРЯ
        .news-detail__banner 
            img(src="./img/pages/news/banner.png" alt="")
        p.news-detail__text 
            | Электронное управление мобильными стеллажами - простое и удобное
            br 
            br
            br
            | Кнопочная панель (на каждом передвижном стеллаже) предназначена для управления в пределах блока, для диагностики готовности к работе. Для открытия требуемого рабочего прохода достаточно нажать кнопку с зелёным светодиодом на панели стеллажа расположенного слева или справа от требуемого прохода.
            br 
            br
            br
            | Сенсорный экран предназначен для управления автоматизированными архивными стеллажами в пределах блока, диагностики готовности блока к работе, вывода информации о текущем состоянии блока, вывода дополнительной информации (коды ошибок в работе, температура и влажность на месте установки блока и т. д.). Сенсорный экран установлен на одном (главном) стеллаже в блоке.
        h5.news-detail__add Новости по теме
        ul.news-detail__list
            each _, i in Array(4)  
                li.news-detail__item
                    +newsCard('./img/pages/news/card.png', 'Передвижные стеллажи для архива и офиса, для музея и библиотеки - самостоятельный выбор', '22.07.08')