section.news-list 
    .containers 
        .news-list__subtitle 
            a(href="#") Главная 
            | / 
            span 
                a(href="#") Кейсы
        h1.news-list__title Новости
        ul.news-list__list 
            each _, i in Array(8)   
                li.news-list__item 
                    +newsCard('./img/pages/news/card.png', 'Передвижные стеллажи для архива и офиса, для музея и библиотеки - самостоятельный выбор', '22.07.08')