mixin newsCard(src, text, date)
    .newsCard
        .newsCard__img 
            img(src=src, alt="")
        .newsCard__content 
            p.newsCard__content-text= text
            .newsCard__content-block 
                p.newsCard__content-date= date
                a(href="/").newsCard__content-link Подробнее

        