section.contact-geo 
    .containers 
        ul.contact-geo__list
            li.contact-geo__item 
                .contact-geo__item-icon 
                    img(src="./img/pages/contact/geo.png" alt="")
                h5.contact-geo__item-title ОТДЕЛ В МОСКВЕ
                p.contact-geo__item-text
                    span Адрес: 
                    | Москва, ул. Шаболовка, 34 строение 3. БЦ "MatrixOffice" 
                    br
                    | Встречи только по предварительной договоренности.
                    br
                    span Режим работы: 
                    | пн–пт: 9-00 — 18-00 без обеда 
                    br
                    span тел/факс: 
                    a(href="88003504677") 8 800-350-46-77
                    br
                    span E-mail: 
                    a(href="mailto:msk@saturngk.ru") msk@saturngk.ru
            li.contact-geo__item 
                .contact-geo__item-icon 
                    img(src="./img/pages/contact/geo.png" alt="")
                h5.contact-geo__item-title ОТДЕЛ В ЕКАТЕРИНБУРГЕ:
                p.contact-geo__item-text
                    span тел/факс: 
                    a(href="tel:88003504677") 8 800 350-46-77 
                    br 
                    | Встречи только по предварительной договоренности. 
                    br
                    span E-mail: 
                    a(href="mailto:ekb@saturngk.ru") ekb@saturngk.ru
                    |, 
                    a(href="https://ekb.saturngk.ru")  https://ekb.saturngk.ru
            li.contact-geo__item 
                .contact-geo__item-icon 
                    img(src="./img/pages/contact/geo.png" alt="")
                h5.contact-geo__item-title ОТДЕЛ В ТЮМЕНИ:
                p.contact-geo__item-text
                    span Адрес: 
                    | Тюмень, ул. Харьковская 75, корп 1 (бизнес центр - "Golf Palace") 
                    br 
                    | Встречи только по предварительной договоренности. 
                    br
                    span тел/факс: 
                    a(href="tel:88003504677") 8 800 350-46-77 
                    br
                    span E-mail: 
                    a(href="mailto:tumen@saturngk.ru") tumen@saturngk.ru
                    | , 
                    a(href="https://tumen.saturngk.ru")  https://tumen.saturngk.ru
        .contact-geo__block
            .contact-geo__banner 
                img(src="./img/pages/contact/sng.png" alt="")
            .contact-geo__other
                .contact-geo__other-icon 
                    img(src="./img/pages/contact/geo.png" alt="")
                h5.contact-geo__other-title ОТДЕЛЫ В ДРУГИХ ГОРОДАХ:
                p.contact-geo__other-text
                    span тел/факс: 
                    a(href="tel:88003504677") 8 800-350-46-77
                    br
                    | Встречи только по предварительной договоренности.
                    br
                    br
                    br
                    span Краснодар: 
                    br
                    span E-mail: 
                    a(href="mailto:krasnodar@saturngk.ru") krasnodar@saturngk.ru
                    | , 
                    a(href="https://krasnodar.saturngk.ru") https://krasnodar.saturngk.ru
                    br
                    br
                    br
                    span Иркутск: 
                    br
                    span E-mail: 
                    a(href="mailto:irkutsk@saturngk.ru") irkutsk@saturngk.ru
                    | , 
                    a(href="https://irkutsk.saturngk.ru") https://irkutsk.saturngk.ru
                    br
                    br
                    br
                    span Нижний Новгород: 
                    br
                    span E-mail: 
                    a(href="mailto:nn@saturngk.ru") nn@saturngk.ru
                    | , 
                    a(href="https://nn.saturngk.ru") https://nn.saturngk.ru
                    br
                    br
                    br
                    span Новосибирск: 
                    br
                    span E-mail: 
                    a(href="mailto:nsk@saturngk.ru") nsk@saturngk.ru
                    | , 
                    a(href="https://nsk.saturngk.ru") 