section.aboutLink
    .containers
        h5.aboutLink__title Команда
            br 
            | 288 000 сотрудников
        .aboutLink__button
            +buttonYellow('ПОСМОТРЕТЬ РЕЗЮМЕ')
    .aboutLink__background
        .aboutLink__left 
        .aboutLink__banner 
            img(src="./img/pages/about/link.png" alt="")