section.modalPhoto.display-n
    .modalPhoto__background 
        .modalPhoto__close
            img(src="./svg/modals/modalVideo/close.svg" alt="")
        .modalPhoto__wrapper 
            img(src="" alt="")