section.catalog-text
    .containers
        h5.catalog-text__title Текст о производителе
        p.catalog-text__description Компания «Сатурн» занимается производством и реализацией металлических стеллажей и оборудования для архива, офиса, библиотеки, музея, склада.
        ul.catalog-text__banners
            li.catalog-text__banner
                img(src="./img/pages/catalog/catalogText/card-1.png" alt="")
            li.catalog-text__banner
                img(src="./img/pages/catalog/catalogText/card-2.png" alt="")
            
