.indexMain(style="width: 100%")
    .swiper.indexMainSwiper
        .swiper-wrapper
            .swiper-slide 
                .indexMain__left 1
                .indexMain__right 2
            .swiper-slide 
                .indexMain__left 1
                .indexMain__right 2
            .swiper-slide 
                .indexMain__left 1
                .indexMain__right 2
            .swiper-slide 
                .indexMain__left 1
                .indexMain__right 2
            .swiper-slide 
                .indexMain__left 1
                .indexMain__right 2
            .swiper-slide 
                .indexMain__left 1
                .indexMain__right 2
            
        .swiper-button-next
        .swiper-button-prev
        .swiper-pagination
