.indexMain {
	width: 100%;
	height: calc(100vh - 70px);
	position: relative;
	&__containers {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 0;
		@include flexStyle(flex-start, center);
		width: 100%;
		&-left {
			width: 50%;
			height: calc(100vh - 70px);
			background-color: $color-blue;
		}
		&-right {
			width: 50%;
			height: calc(100vh - 70px);
			overflow: hidden;
			position: relative;
			& img {
				@include imgFullSize();
			}
		}
	}
	&__slider {
		position: relative;
		z-index: 2;
		height: calc(100vh - 70px);
		width: 100%;
		& .swiper {
			height: calc(100vh - 70px);
		}
	}
	&__left {
		width: 50%;
		height: calc(100vh - 70px);
		@include flexStyle(flex-start, center);
		padding-top: 90px;
		position: relative;
		&-container {
			@include flexStyle(center, flex-start, column);
			width: 100%;
		}
		&-block {
			@include flexStyle(flex-start, flex-start, column, 45px);
		}
		&-add {
			position: absolute;
			top: 45px;
			left: 90px;
			@include fontStyle(14px, 300, 130%, $color-white);
			& span {
				color: $color-gray;
			}
		}
		&-title {
			@include fontStyle(42px, 700, 54px, $color-white);
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			width: 450px;
			& span {
				color: $color-yellow;
			}
		}
		&-subtitle {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			width: 450px;
			@include fontStyle(22px, 400, 36px, $color-white);
			& span {
				font-weight: 500;
			}
		}
		&-button {
			margin-top: 35px;
		}
		&-status {
			margin-top: 55px;
			width: 100%;
			@include flexStyle(flex-start, center, row, 30px);
		}
	}
	&__right {
		width: 50%;
		height: calc(100vh - 70px);
		height: 100%;
		@include flexStyle(center, center);
		&-bg {
			display: none;
		}
		&-play {
			@include flexStyle(center, center);
			width: 155px;
			height: 155px;
			background: $color-blue-black;
			border-radius: 50%;
			cursor: pointer;
		}
	}
	& .swiper {
		&-root {
			width: 100%;
			max-width: 1440px;
			margin: 0 auto;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			position: absolute;
			height: max-content;
			z-index: 55;
		}
		&-slide {
			position: relative;
			width: 100%;
			height: calc(100vh - 70px);
			& .containers {
				width: 100%;
				@include flexStyle(center, center);
				padding: 0;
				position: relative;
			}
		}
		&-controller {
			z-index: 50;
			width: 602px;
			height: 92px;
			background: $color-blue;
			border-radius: 20px;
			margin: 27px auto 0 auto;
			position: relative;
		}
		&-button {
			&-next {
				top: 50% !important;
				right: 68px !important;
				left: auto !important;
				bottom: auto !important;
				transform: translate(0, -50%);
				width: 55px !important;
				height: 24px !important;
				margin: 0 !important;
				&::after {
					content: '' !important;
				}
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					right: -25px;
					border: 1px solid $color-yellow;
					border-radius: 50%;
					width: 53px;
					height: 53px;
					transform: translate(0, -50%);
					@include transitionStyle();
					opacity: 1;
				}
				& svg {
					& path {
						@include transitionStyle();
					}
				}
			}
			&-prev {
				top: 50% !important;
				left: 68px !important;
				right: auto !important;
				bottom: auto !important;
				transform: translate(0, -50%);
				width: 55px !important;
				height: 24px !important;
				margin: 0 !important;
				&::after {
					content: '' !important;
				}
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: -25px;
					border: 1px solid $color-yellow;
					border-radius: 50%;
					width: 53px;
					height: 53px;
					transform: translate(0, -50%);
					@include transitionStyle();
					opacity: 1;
				}
				& svg {
					& path {
						@include transitionStyle();
					}
				}
			}
			&-disabled {
				&::before {
					opacity: 0;
				}
				& svg {
					& path {
						fill: $color-gray-white;
					}
				}
			}
		}
		&-pagination {
			@include flexStyle(center, center, row, 17px);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) !important;
			&-fraction {
				position: absolute;
				top: 61px;
				left: 0px !important;
				width: max-content !important;
				height: max-content;
				justify-items: right;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr;
				gap: 0px 0px;
				grid-template-areas:
					'current current'
					'current current'
					'. total';
			}
			&-item {
				width: 13px;
				height: 13px;
				border: 1px solid $color-yellow;
				background-color: $transparent;
				@include transitionStyle();
				border-radius: 50%;
				cursor: pointer;
				&-active {
					background-color: $color-yellow;
				}
			}
			&-current {
				text-transform: capitalize;
				-webkit-text-stroke: 2px $color-gray-white;
				@include fontStyle(128px, 500, 151px, $transparent);
				grid-area: current;
			}
			&-total {
				@include fontStyle(20px, 400, 24px, $color-gray-light);
				letter-spacing: -0.5px;
				text-transform: capitalize;
				grid-area: total;
				margin-right: 16px;
				position: relative;
				height: max-content;
				&::after {
					content: '/';
					position: absolute;
					top: 50%;
					left: -12px;
					transform: translate(0, -50%);
				}
			}
		}
		&-counter {
			height: 200px;
			letter-spacing: -0.5px;
			text-transform: capitalize;
			@include fontStyle(20px, 400, 24px, $transparent);
		}
	}
}

.indexMain-static {
	width: 100%;
	padding: 20px 0;
	background-color: $color-yellow;
	& .containers {
		width: 100%;
	}
	&__list {
		margin: 0 auto;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
		gap: 75px;
	}
}

// Mixin

.statusType {
	max-width: 190px;
	width: 100%;
	@include flexStyle(flex-start, flex-start, column, 20px);
	&-title {
		letter-spacing: 0.06em;
		@include fontStyle(17px, 400, 20px, $color-black);
		text-align: left;
	}
	&-number {
		@include fontStyle(60px, 400, 72px, $color-blue-black);
		letter-spacing: 0.03em;
		text-align: left;
	}
	&-subtitle {
		text-transform: uppercase;
		@include fontStyle(17px, 400, 20px, $color-black);
		text-align: left;
	}
}

.statusTypeDouble {
	max-width: 210px;
	width: 100%;
	@include flexStyle(flex-start, flex-start, column, 20px);
	&-title {
		letter-spacing: 0.06em;
		@include fontStyle(17px, 400, 20px, $color-black);
		text-align: center;
	}
	&-number {
		@include fontStyle(60px, 400, 72px, $color-blue-black);
		letter-spacing: 0.03em;
		text-align: center;
	}
	&-subtitle {
		text-transform: uppercase;
		letter-spacing: 0.06em;
		@include fontStyle(17px, 400, 20px, $color-black);
		text-align: center;
	}
	&-container {
		width: max-content;
		@include flexStyle(flex-start, center, row, 32px);
	}
	&-block {
		@include flexStyle(center, flex-start, column, 20px);
	}
}

//| Media

@media (max-width: 1430px) {
	.indexMain-static__item:nth-child(5) {
		display: none;
	}
}

@media (max-width: 1220px) {
	.indexMain .swiper-slide .containers {
		flex-direction: column;
	}
	.indexMain__containers {
		display: none;
	}
	.indexMain__left {
		width: 100%;
		height: 100%;
		padding: 60px 0;
		background: #201547;
	}
	.indexMain__left-container {
		justify-content: flex-start;
		align-items: flex-start;
		padding: 0 50px;
	}
	.indexMain .swiper-controller {
		margin: 27px 0 0 -50px;
		width: 460px;
	}
	.indexMain__right {
		height: 350px;
		width: 100%;
		position: relative;
		overflow: hidden;
		&-bg {
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 1;
			display: block;
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-play {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 3;
		}
	}
	.indexMain__slider,
	.indexMain,
	.indexMain__slider .swiper,
	.indexMain .swiper-slide {
		height: 100%;
	}
}

@media (max-width: 1070px) {
	.indexMain-static__item:nth-child(4) {
		display: none;
	}
}

@media (max-width: 800px) {
	.statusType-subtitle,
	.statusTypeDouble-subtitle {
		font-size: 9px;
		line-height: 12px;
	}
	.statusType-title,
	.statusTypeDouble-title {
		font-size: 14px;
		line-height: 16px;
	}
	.statusType-number,
	.statusTypeDouble-number {
		font-size: 30px;
		line-height: 32px;
	}
	.indexMain-static__list {
		gap: 20px;
		grid-template-columns: repeat(3, auto);
	}
	.statusType {
		width: max-content;
	}
}

@media (max-width: 550px) {
	.indexMain__left-container {
		padding: 0 17px;
	}
	.indexMain .swiper-controller {
		margin: 27px auto 0 auto;
		width: 100%;
	}
	.indexMain__left-title {
		font-size: 28px;
		width: 100%;
		line-height: 1.5;
	}
	.indexMain__left-subtitle {
		font-size: 18px;
		width: 100%;
		line-height: 1.5;
	}
	.indexMain .swiper-button-next {
		right: 17px !important;
	}
	.indexMain .swiper-button-prev {
		left: 17px !important;
	}
	.indexMain__left-block {
		gap: 20px;
	}
}

@media (max-width: 450px) {
	.indexMain-static__item:nth-child(3) {
		display: none;
	}
	.indexMain__left-add {
		left: 17px;
		top: 20px;
	}
}

@media (min-height: 790px) {
	.indexMain .swiper-pagination-fraction {
		top: 18vh;
	}
	.indexMain__left {
		align-items: center;
	}
}

@media (min-height: 830px) {
	.indexMain .swiper-pagination-fraction {
		top: 20vh;
	}
}

@media (min-height: 950px) {
	.indexMain .swiper-pagination-fraction {
		top: 25vh;
	}
}
