mixin cardEquipment(title, text)
    .cardEquipment 
        .cardEquipment__img
            img(src="./img/index/indexEquipment/card.png" alt="")
        .cardEquipment__content
            h3.cardEquipment__content-title= title 
            p.cardEquipment__content-text= text