mixin cardEquipment(title, text)
    .cardEquipment 
        a(href="/").cardEquipment__img
            img(src="./img/index/indexEquipment/card.png" alt="")
        .cardEquipment__content
            a(href="/").cardEquipment__content-title= title 
            p.cardEquipment__content-text= text