.catalog-table {
	padding: 110px 0;
	width: 100%;
	& .containers {
		width: 100%;
		@include flexStyle(flex-start, flex-start, column, 32px);
	}
	&__title {
		@include fontStyle(40px, 700, 58px, $color-blue-black);
	}
	&__blocks {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	&__block {
		width: 100%;
		@include flexStyle(flex-start, flex-start, column, 11px);
	}
	&__header {
		width: 100%;
		height: max-content;
		background: $color-blue-black;
		padding: 8px 20px;
		@include flexStyle(center, center);
		& p {
			@include fontStyle(24px, 700, 28px, $color-white);
		}
		&:nth-child(1) {
			border-right: 1px solid $color-white;
		}
	}
	&__list {
		width: 100%;
		@include flexStyle(flex-start, flex-start, column, 11px);
	}
	&__item {
		width: 100%;
	}
}

// Mixin

.catalogTableElement {
	width: 100%;
	padding: 12px 20px;
	@include flexStyle(center, center);
	border: 1px solid $color-blue-black;
	background-color: $color-white;
	@include transitionStyle();
	&__title {
		@include fontStyle(18px, 700, 21px, $color-black);
		@include transitionStyle();
	}
	&:hover {
		background-color: $color-gray-light;
		& .catalogTableElement__title {
			text-decoration-line: underline;
		}
	}
}

//| Media

@media (max-width: 800px) {
	.catalog-table__blocks {
		grid-template-columns: 1fr;
		gap: 30px;
	}
}
