section.helper-question
    .containers
        h1.helper-question__title Часто задаваемые вопросы
        ul.helper-question__list
            each _, i in Array(4)
                li.helper-question__item
                    +helperAccordion('Что нужно сделать для выбора стеллажей ?', 'Рассмотрите имеющиеся варианты и определите площадь, которую Вы можете выделить под архив, научную библиотеку организации или склад. Если нужно хранить небольшой объем текущей рабочей документации, или расходных материалов – это может быть небольшая «подсобка» или часть рабочего кабинета. При выборе оборудования для хранения в этом случае, как правило, останавливаются на стационарных стеллажах. Стационарные стеллажи со сплошной стойкой серии «СА» оптимальны не только для небольшого архива или хранилища библиотеки, но и для читального зала или регистратуры поликлиники.')
        a(href="/").helper-question__button
            p Смотреть все