@font-face {
	font-family : Inter;
	font-display : swap;
	src : url("../fonts/Inter-Black.woff") format("woff"), url("../fonts/Inter-Black.woff2") format("woff2");
	font-weight : 900;
	font-style : normal;
}

@font-face {
	font-family : Inter;
	font-display : swap;
	src : url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
	font-weight : 700;
	font-style : normal;
}

@font-face {
	font-family : Inter;
	font-display : swap;
	src : url("../fonts/Inter-ExtraLight.woff") format("woff"), url("../fonts/Inter-ExtraLight.woff2") format("woff2");
	font-weight : 200;
	font-style : normal;
}

@font-face {
	font-family : Inter;
	font-display : swap;
	src : url("../fonts/Inter-Light.woff") format("woff"), url("../fonts/Inter-Light.woff2") format("woff2");
	font-weight : 300;
	font-style : normal;
}

@font-face {
	font-family : Inter;
	font-display : swap;
	src : url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
	font-weight : 500;
	font-style : normal;
}

@font-face {
	font-family : Inter;
	font-display : swap;
	src : url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
	font-weight : 400;
	font-style : normal;
}

@font-face {
	font-family : Inter;
	font-display : swap;
	src : url("../fonts/Inter-ExtraBold.woff") format("woff"), url("../fonts/Inter-ExtraBold.woff2") format("woff2");
	font-weight : 800;
	font-style : normal;
}

@font-face {
	font-family : NunitoSans;
	font-display : swap;
	src : url("../fonts/NunitoSans-Black.woff") format("woff"), url("../fonts/NunitoSans-Black.woff2") format("woff2");
	font-weight : 900;
	font-style : normal;
}

@font-face {
	font-family : NunitoSans;
	font-display : swap;
	src : url("../fonts/NunitoSans-BlackItalic.woff") format("woff"), url("../fonts/NunitoSans-BlackItalic.woff2") format("woff2");
	font-weight : 900;
	font-style : italic;
}

@font-face {
	font-family : Inter;
	font-display : swap;
	src : url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.woff2") format("woff2");
	font-weight : 600;
	font-style : normal;
}

@font-face {
	font-family : Inter;
	font-display : swap;
	src : url("../fonts/Inter-Thin.woff") format("woff"), url("../fonts/Inter-Thin.woff2") format("woff2");
	font-weight : 100;
	font-style : normal;
}

@font-face {
	font-family : NunitoSans;
	font-display : swap;
	src : url("../fonts/NunitoSans-Bold.woff") format("woff"), url("../fonts/NunitoSans-Bold.woff2") format("woff2");
	font-weight : 700;
	font-style : normal;
}

@font-face {
	font-family : NunitoSans;
	font-display : swap;
	src : url("../fonts/NunitoSans-BoldItalic.woff") format("woff"), url("../fonts/NunitoSans-BoldItalic.woff2") format("woff2");
	font-weight : 700;
	font-style : italic;
}

@font-face {
	font-family : NunitoSans;
	font-display : swap;
	src : url("../fonts/NunitoSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/NunitoSans-ExtraBoldItalic.woff2") format("woff2");
	font-weight : 800;
	font-style : italic;
}

@font-face {
	font-family : NunitoSans;
	font-display : swap;
	src : url("../fonts/NunitoSans-ExtraBold.woff") format("woff"), url("../fonts/NunitoSans-ExtraBold.woff2") format("woff2");
	font-weight : 800;
	font-style : normal;
}

@font-face {
	font-family : NunitoSans;
	font-display : swap;
	src : url("../fonts/NunitoSans-ExtraLight.woff") format("woff"), url("../fonts/NunitoSans-ExtraLight.woff2") format("woff2");
	font-weight : 200;
	font-style : normal;
}

@font-face {
	font-family : NunitoSans;
	font-display : swap;
	src : url("../fonts/NunitoSans-Italic.woff") format("woff"), url("../fonts/NunitoSans-Italic.woff2") format("woff2");
	font-weight : 400;
	font-style : italic;
}

@font-face {
	font-family : NunitoSans;
	font-display : swap;
	src : url("../fonts/NunitoSans-Light.woff") format("woff"), url("../fonts/NunitoSans-Light.woff2") format("woff2");
	font-weight : 300;
	font-style : normal;
}

@font-face {
	font-family : NunitoSans;
	font-display : swap;
	src : url("../fonts/NunitoSans-LightItalic.woff") format("woff"), url("../fonts/NunitoSans-LightItalic.woff2") format("woff2");
	font-weight : 300;
	font-style : italic;
}

@font-face {
	font-family : NunitoSans;
	font-display : swap;
	src : url("../fonts/NunitoSans-ExtraLightItalic.woff") format("woff"), url("../fonts/NunitoSans-ExtraLightItalic.woff2") format("woff2");
	font-weight : 200;
	font-style : italic;
}

@font-face {
	font-family : NunitoSans;
	font-display : swap;
	src : url("../fonts/NunitoSans-SemiBoldItalic.woff") format("woff"), url("../fonts/NunitoSans-SemiBoldItalic.woff2") format("woff2");
	font-weight : 600;
	font-style : italic;
}

@font-face {
	font-family : NunitoSans;
	font-display : swap;
	src : url("../fonts/NunitoSans-Regular.woff") format("woff"), url("../fonts/NunitoSans-Regular.woff2") format("woff2");
	font-weight : 400;
	font-style : normal;
}

@font-face {
	font-family : NunitoSans;
	font-display : swap;
	src : url("../fonts/NunitoSans-SemiBold.woff") format("woff"), url("../fonts/NunitoSans-SemiBold.woff2") format("woff2");
	font-weight : 600;
	font-style : normal;
}

*
,
*::before
,
*::after {
	-webkit-box-sizing : border-box;
	        box-sizing : border-box;
	padding : 0;
	margin : 0;
	-webkit-font-smoothing : antialiased;
	text-rendering : optimizeLegibility;
	overflow-wrap : break-word;
	-webkit-user-select : text;
	   -moz-user-select : text;
	    -ms-user-select : text;
	        user-select : text;
}

body {
	position : relative;
	background-color : gray;
	font-family : Arial, Helvetica, sans-serif;
	font-style : normal;
	display : -webkit-box;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-orient : vertical;
	-webkit-box-direction : normal;
	-ms-flex-direction : column;
	    flex-direction : column;
	-webkit-box-align : center;
	-ms-flex-align : center;
	align-items : center;
	-webkit-box-pack : justify;
	-ms-flex-pack : justify;
	justify-content : space-between;
	height : 100vh;
}

a {
	text-decoration : none;
}

ul {
	list-style : none;
}

input {
	padding : 0;
	margin : 0;
	border : none;
	outline : none;
}

button {
	padding : 0;
	border : none;
	cursor : pointer;
	outline : none;
}

ol
,
ul {
	padding-left : 0;
}

dl
,
ol
,
ul {
	margin-top : 0;
	margin-bottom : 0;
}

p {
	margin-top : 0;
	margin-bottom : 0;
}

.h1
,
.h2
,
.h3
,
.h4
,
.h5
,
.h6
,
h1
,
h2
,
h3
,
h4
,
h5
,
h6 {
	margin-top : 0;
	margin-bottom : 0;
}

.containers {
	max-width : 1440px;
	padding : 0 90px;
	margin : 0 auto;
	width : 100%;
}

.display-n {
	display : none !important;
}

opacity-h {
	opacity : 0 !important;
}

.header {
	width : 100%;
	height : 70px;
	background : #ffffff;
	display : -webkit-box;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-align : center;
	-ms-flex-align : center;
	align-items : center;
	-webkit-box-pack : center;
	-ms-flex-pack : center;
	justify-content : center;
}

.header__container {
	display : -webkit-box;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-align : center;
	-ms-flex-align : center;
	align-items : center;
	-webkit-box-pack : justify;
	-ms-flex-pack : justify;
	justify-content : space-between;
	gap : 30px;
	width : 100%;
}

.header__block {
	width : -webkit-max-content;
	width :    -moz-max-content;
	width :         max-content;
	display : -webkit-box;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-align : center;
	-ms-flex-align : center;
	align-items : center;
}

.header__block:first-child {
	-webkit-box-pack : start;
	-ms-flex-pack : start;
	justify-content : flex-start;
	gap : 32px;
}

.header__block:last-child {
	-webkit-box-pack : end;
	-ms-flex-pack : end;
	justify-content : flex-end;
	gap : 30px;
}

.header__l {
	cursor : pointer;
}

.header__s {
	font-weight : 400;
	font-size : 10px;
	line-height : 13px;
	color : #262626;
}

.header__e {
	display : -webkit-box;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-align : center;
	-ms-flex-align : center;
	align-items : center;
	-webkit-box-pack : center;
	-ms-flex-pack : center;
	justify-content : center;
	gap : 11px;
}

.header__e p {
	font-weight : 400;
	font-size : 15px;
	line-height : 19px;
	letter-spacing : -0.5px;
	color : #140848;
}

.header__p {
	display : -webkit-box;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-align : center;
	-ms-flex-align : center;
	align-items : center;
	-webkit-box-pack : center;
	-ms-flex-pack : center;
	justify-content : center;
	gap : 11px;
}

.header__p p {
	font-weight : 400;
	font-size : 15px;
	line-height : 19px;
	letter-spacing : -0.5px;
	color : #140848;
}

.header__b {
	background : #f2ce14;
	border-radius : 10px;
	padding : 10px 17px;
	cursor : pointer;
}

.header__b p {
	font-weight : 700;
	font-size : 14px;
	line-height : 16px;
	color : #141413;
	text-transform : uppercase;
}

.footer {
	background-color : #201547;
	width : 100%;
	min-height : 630px;
	text-align : center;
	color : #ffffff;
}
