section.contact-main
    .containers
        h1.contact-main__title География поставок более 100 городов в 5 странах
        p.contact-main__text Мы доставляем нашу продукцию от Калининграда до Дальнего востока и стран СНГ любым удобным видом транспорта
        .contact-main__wrapper 
            .contact-main__content
                .contact-main__content-icon 
                    img(src="./img/pages/contact/geo.png" alt="")
                h5.contact-main__content-title ОТДЕЛЫ В ПЕРМИ
                p.contact-main__content-text 
                    span Адрес: 
                    | 614000, г. Пермь, ул. Советская, 94
                    br
                    span Режим работы: 
                    | пн–пт: 9-00 — 18-00 без обеда 
                    br 
                    br
                    | Металлические передвижные и стационарные стеллажи, складские, для производственных помещений 
                    br
                    span тел/факс: 
                    a(href="tel:+73422055316") +7 (342) 205-53-16 (многоканальный) 
                    br
                    span E-mail: 
                    a(href="mailto:mail@saturngk.ru") mail@saturngk.ru
            .contact-main__banner 
                img(src="./svg/pages/contact/schema.svg" alt="")
                button.contact-main__button 
                    img(src="./svg/pages/contact/size.svg" alt="")