section.contact-main
    .containers
        h1.contact-main__title География поставок более 100 городов в 5 странах
        p.contact-main__text Мы доставляем нашу продукцию от Калининграда до Дальнего востока и стран СНГ любым удобным видом транспорта