.casesDescription
    .containers
        h3.casesDescription__title SEO текст
        p.casesDescription__text Производим разделители полок и папок. Выдвижные полки и ящики. 
            br 
            | Двери распашные и жалюзи (роллеты). Штанги для плечиков, задние стенки, замки, 
            br
            | идентификационные таблички на боковые панели, соединители рядов.