.casesDescription {
	width: 100%;
	padding: 45px 0 100px 0;
	background-color: $color-white;
	& .containers {
		width: 100%;
		@include flexStyle(flex-start, flex-start, column, 35px);
	}
	&__title {
		@include fontStyle(40px, 700, 58px, $color-blue-black);
	}
	&__text {
		@include fontStyle(28px, 400, 49px, $color-black);
	}
}

//| Media

@media (max-width: 600px) {
	.case-detail-description__list {
		grid-template-columns: auto !important;
	}
	.casesDescription__title {
		font-size: 25px;
		line-height: 34px;
	}
	.casesDescription__text {
		font-size: 22px;
		line-height: 37px;
	}
}
