section.aboutMission
    .containers 
        h5.aboutMission__title Наша миссия
        .aboutMission__message 
            p На основе индивидуальных решений для экономии места, изменить представление людей о том, как можно хранить и эффективно работать с любым предметом.
        .aboutMission__banner 
            img(src="./img/pages/about/description.png" alt="")