section.articles
    .containers 
        .articles__subtitle 
            a(href="#") Главная 
            | / 
            span 
                a(href="#") Помощь 
            | / 
            span 
                a(href="#") Статьи
        h1.articles__title Статьи
        ul.articles__list
            each _, i in Array(4)
                li.articles__item
                    +newsCard('./img/pages/news/card.png', 'Передвижные стеллажи для архива и офиса, для музея и библиотеки - самостоятельный выбор')