mixin catalogCaseCard(src, title, href)
    .catalogCaseCard 
        .catalogCaseCard__img 
            img(src=src alt="")
        .catalogCaseCard__title= title
        a(href=href).catalogCaseCard__link
            p Подробнее