mixin helperDocumentCard(title, src)
    .helperDocumentCard
        .helperDocumentCard__photo 
            img(src=src alt="")
        h5.helperDocumentCard__title= title
        a(href="/").helperDocumentCard__link Скачать