section.add-description 
    .containers 
        .add-description__content 
            h5.add-description__content-title МЕТАЛЛИЧЕСКИЕ СТЕЛЛАЖИ С ДВЕРЯМИ
            p.add-description__content-text 
                | Основу конструкции передвижного стеллажа с электроприводом составляет усиленное мобильное основание (база) с рельсовой системой, привод передвижения с электронными компонентами управления и системами обеспечения безопасности, каркасная часть. В качестве каркасной части применяются архивные стеллажи, складские стеллажи, сетчатые конструкции для картин, конструкции с выдвижными ящиками (картотеки, драйвера) и прочее оборудование.
                br 
                br 
                br 
                | Передвижение стеллажей осуществляется при помощи электрического привода с автоматическим блоком управления и стандартным набором команд. В механической части привода осуществлена схема двухступенчатого зубчатого редуктора. Блоки управления объединены в пределах системы мобильных стеллажей в одну общую сеть, с помощью которой происходит управление электродвигателем с присоединенным редуктором.
        .add-description__slider 
            .swiper.addDescriptionSliderSwiper
                .swiper-wrapper
                    each _, i in Array(4)
                        .swiper-slide 
                            .add-description__slider-item 
                                img(src="./img/pages/add/slide.png" alt="")
            .swiper-controls
                .swiper-button-next
                    img(src="./svg/pages/add/arrow-next.svg" alt="")
                .swiper-button-prev
                    img(src="./svg/pages/add/arrow-prev.svg" alt="")
                .swiper-pagination
            img.add-description__tab(src="./img/pages/catalog/catalogMain/card-1.png" alt="tab")
            img.add-description__tab(src="./img/pages/catalog/catalogMain/card-1.png" alt="tab")
            img.add-description__tab(src="./img/pages/catalog/catalogMain/card-1.png" alt="tab")
            img.add-description__tab(src="./img/pages/catalog/catalogMain/card-1.png" alt="tab")
