.add-description {
	width: 100%;
	padding: 110px 0 80px 0;
	& .containers {
		width: 100%;
		@include flexStyle(flex-start, space-between, row, 80px);
	}
	&__content {
		width: 45%;
		@include flexStyle(flex-start, flex-start, column, 45px);
		&-title {
			@include fontStyle(40px, 700, 58px, $color-blue);
		}
		&-text {
			letter-spacing: -0.5px;
			@include fontStyle(20px, 400, 31px, $color-black);
		}
	}
	&__tab {
		display: none;
	}
	&__slider {
		width: 50%;
		margin-top: 75px;
		position: relative;
		& .swiper-pagination {
			bottom: -145px !important;
			@include flexStyle(center, center);
		}
		&-item {
			border-radius: 20px;
			height: 300px;
			overflow: hidden;
			& img {
				@include imgFullSize();
			}
		}
		&-button {
			width: 134px !important;
			height: 122px !important;
			overflow: hidden;
			border-radius: 20px !important;
			& img {
				@include imgFullSize();
			}
		}
		& .swiper-button-next {
			width: 43px;
			height: 300px;
			top: 22px;
			right: 0;
			border-radius: 0 20px 20px 0;
			background: $color-yellow;
			&::after {
				content: none;
			}
		}
		& .swiper-button-prev {
			width: 43px;
			height: 300px;
			top: 22px;
			left: 0;
			border-radius: 20px 0 0 20px;
			background: $color-yellow;
			&::after {
				content: none;
			}
		}
	}
}

//| Media

@media (max-width: 1000px) {
	.add-description .containers {
		@include flexStyle(flex-start, flex-start, column, 30px);
	}
	.add-description__content {
		width: 100%;
	}
	.add-description__slider {
		margin-top: 10px;
		padding-bottom: 55px;
		width: 100%;
	}
	.add-description__slider .swiper-pagination {
		bottom: -60px !important;
	}
	.add-description__slider-button {
		width: 80px !important;
		height: 80px !important;
	}
}

@media (max-width: 600px) {
	.add-description__content-title {
		font-size: 25px;
		line-height: 33px;
	}
	.add-description__slider-item,
	.add-description__slider .swiper-button-next,
	.add-description__slider .swiper-button-prev {
		height: 200px;
	}
}
