section.team
    .containers
        .team__controls
            .swiper-pagination
            .swiper-button-next
                img(src="./svg/components/feedback/arrow-next.svg" alt="alt")
            .swiper-button-prev
                img(src="./svg/components/feedback/arrow-prev.svg" alt="alt")
        .team__navbar
            .team__subtitle Познакомитесь с нашей командой
            .team__title Наша команда

        .team__slider 
            .swiper.teamSwiper
                .swiper-wrapper
                    each _, i in Array(12)
                        .swiper-slide 
                            +teamCard('./img/components/team/people.png', 'Кузнецов Кирилл Валерьевич', 'Директор ГК Сатурн')