.space
    .space__plane 
        img(src="./svg/components/space/plane.svg")
    .space__background
        img(src="./svg/components/space/bg.svg")
    ul.space__list
        li.space__item 
            +spaceItem('30+', './svg/components/space/arrow-1.svg', 'Лет на рынке')
        li.space__item 
            +spaceItem('12 000м²', './svg/components/space/arrow-2.svg', 'Собственное производство со складом готовой продукции')
        li.space__item 
            +spaceItem('500+', './svg/components/space/arrow-3.svg', 'Побед в тендерах')
        li.space__item 
            +spaceItem('>6000', './svg/components/space/arrow-4.svg', 'Поставок')
        li.space__item 
            +spaceItem('>3500', './svg/components/space/arrow-5.svg', 'Оборудовано объектов разной сложности')