.space {
	width: 100%;
	height: 860px;
	position: relative;
	background-color: $color-blue-black;
	&__plane {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: max-content;
		height: max-content;
		z-index: 2;
	}
	&__title {
		@include fontStyle(40px, 700, 58px, $color-white);
		position: absolute;
		z-index: 3;
		top: 65px;
		left: 90px;
		left: 10%;
		transform: translate(-10%, 0);
	}
	&__background {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		z-index: 1;
		& img {
			@include imgFullSize();
		}
	}
	&__list {
		max-width: 1440px;
		max-height: 860px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		z-index: 3;
	}
	&__item {
		position: absolute;
		width: 290px;
		&:nth-child(1) {
			top: 223px;
			left: 190px;
			& .spaceItem {
				&__img {
					position: absolute;
					left: 45%;
					top: 80%;
					transform: translate(-50%, -50%);
				}
			}
		}
		&:nth-child(2) {
			top: 570px;
			right: 133px;
			& .spaceItem {
				&__img {
					position: absolute;
					left: 35%;
					top: 35%;
					transform: translate(-50%, -50%);
				}
			}
		}
		&:nth-child(3) {
			top: 660px;
			left: 184px;
			& .spaceItem {
				&__img {
					position: absolute;
					left: 35%;
					top: 35%;
					transform: translate(-50%, -50%);
				}
			}
		}
		&:nth-child(4) {
			top: 80px;
			right: 173px;
			& .spaceItem {
				&__img {
					position: absolute;
					left: 25%;
					top: 90%;
					transform: translate(-50%, -50%);
				}
			}
		}
		&:nth-child(5) {
			top: 410px;
			left: 75px;
			& .spaceItem {
				width: 230px;
				&__img {
					position: absolute;
					left: 58%;
					top: 65%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}

// Mixin

.spaceItem {
	@include flexStyle(flex-start, flex-start, column, 46px);
	position: absolute;
	width: 290px;
	&__content {
		@include fontStyle(70px, 700, 58px, $color-yellow);
	}
	&__img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&__media {
		display: none;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&__text {
		letter-spacing: -0.5px;
		@include fontStyle(20px, 400, 31px, $color-white);
	}
}

//| Media

@media (max-width: 1200px) {
	.space__title {
		top: 15px;
		left: 30px;
	}
}

@media (max-width: 1150px) {
	.space {
		overflow: hidden;
		height: 860px;
	}
	.space__plane {
		width: 590px;
		& img {
			width: 100%;
		}
	}
	.space__plane {
		top: 50%;
		left: auto;
		right: -30%;
		transform: translate(0%, -50%);
	}
	.spaceItem__img {
		display: none;
	}
	.spaceItem__media {
		display: block;
	}
	.space__item {
		& .spaceItem__content {
			font-size: 40px;
			line-height: 58px;
		}
		& .spaceItem__text {
			font-size: 16px;
			line-height: 31px;
		}
	}
	.spaceItem {
		gap: 0;
	}
	.space__item:nth-child(1) {
		display: flex;
		top: 180px;
		right: 5%;
		left: auto;
		& .spaceItem {
			width: 220px;
			& .spaceItem__media {
				position: absolute;
				left: 30%;
				top: 93%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.space__item:nth-child(2) {
		display: flex;
		top: 590px;
		right: 17%;
		left: auto;
		& .spaceItem {
			width: 220px;
			& .spaceItem__media {
				position: absolute;
				left: 50%;
				top: 23%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.space__item:nth-child(3) {
		display: flex;
		top: 500px;
		right: 27%;
		left: auto;
		& .spaceItem {
			width: 220px;
			& .spaceItem__media {
				position: absolute;
				left: 35%;
				top: 34%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.space__item:nth-child(4) {
		display: flex;
		top: 270px;
		right: 15%;
		left: auto;
		& .spaceItem {
			width: 220px;
			& .spaceItem__media {
				position: absolute;
				left: 30%;
				top: 95%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.space__item:nth-child(5) {
		display: flex;
		top: 360px;
		right: 25%;
		left: auto;
		& .spaceItem {
			width: 140px;
			& .spaceItem__text {
				font-size: 14px;
				line-height: 18px;
			}
			& .spaceItem__media {
				position: absolute;
				left: 46%;
				top: 74%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.space__title {
		top: 40px;
		left: 30px;
		transform: none;
	}
}

@media (max-width: 700px) {
	.space__plane {
		top: 50%;
		left: auto;
		right: -35%;
		transform: translate(0%, -50%);
	}
	.space__title {
		font-size: 30px;
		line-height: 34px;
	}
}

@media (max-width: 650px) {
	.space__plane {
		top: 50%;
		left: auto;
		right: -40%;
		transform: translate(0%, -50%);
	}
}

@media (max-width: 600px) {
	.space__plane {
		top: 50%;
		left: auto;
		right: -45%;
		transform: translate(0%, -50%);
	}
}

@media (max-width: 550px) {
	.space__plane {
		top: 50%;
		left: auto;
		right: -50%;
		transform: translate(0%, -50%);
	}
}

@media (max-width: 500px) {
	.space__plane {
		top: 50%;
		left: auto;
		right: -55%;
		transform: translate(0%, -50%);
	}
}

@media (max-width: 450px) {
	.space__plane {
		top: 50%;
		left: auto;
		right: -65%;
		transform: translate(0%, -50%);
	}
}

@media (max-width: 400px) {
	.space__plane {
		top: 50%;
		left: auto;
		right: -70%;
		transform: translate(0%, -50%);
	}
}
