section.case-detail-description 
    .containers 
        ul.case-detail-description__list
            each _, i in Array(4)
                li.case-detail-description__item 
                    +caseDetailDescriptionCard('ЗАКАЗЧИК', 'Компания «Сатурн» занимается производством и реализацией металлических стеллажей и оборудования для архива, офиса, библиотеки, музея, склада.')
