mixin caseDetailDescriptionCard(title, text)
    .caseDetailDescriptionCard
        .caseDetailDescriptionCard__icon 
            img(src="./svg/pages/caseDetail/icon.svg" alt="")
        h5.caseDetailDescriptionCard__title= title 
        p.caseDetailDescriptionCard__text= text