extends ../layouts/default

block variables
	- const title = "Детальная страница статьи";

block content
	include ../components/Header/index.pug

	+mainBanner('Разделители папок', 'Российская компания по продаже производству металлических стеллажей', 'ПОЛУЧИТЬ КП', './img/pages/add/banner.png')

	include ../components/pages/Add/AddDescription/index.pug

	include ../components/Slider/index.pug

	+catalogAddition('Дополнительное оборудование', 'Производим разделители полок и папок. Выдвижные полки и ящики. Двери распашные и жалюзи (ролеты). Штанги для плечиков, задние стенки, замки, идентификационные таблички на боковые панели, соединители рядов.')(class="addition")

	include ../components/pages/Catalog/CatalogBanner/index.pug

	include ../components/LineYellow/index.pug

	include ../components/Footer/index.pug

block scripts
	include ../components/modals/ModalVideo/index.pug
	include ../components/ButtonTop/index.pug
	script(src="js/main.js")