extends ../layouts/default

block variables
	- const title = "Статьи";

block content
	include ../components/Header/index.pug

	include ../components/pages/Articles/ArticlesMain/index.pug

	include ../components/Footer/index.pug

block scripts
	include ../components/modals/ModalVideo/index.pug
	include ../components/ButtonTop/index.pug
	script(src="js/main.js")