extends ../layouts/default

block variables
	- const title = "Детальная страница статьи";

block content
	include ../components/Header/index.pug

	include ../components/pages/ArticleDetail/index.pug

	include ../components/FormBase/index.pug

	include ../components/Footer/index.pug

block scripts
	script(src="js/main.js")