extends ../layouts/default

block variables
	- const title = "Детальная страница кейсов";

block content
	include ../components/Header/index.pug

	+mainBanner('Как разместить все и даже больше ?', '', 'ХОЧУ ТАК ЖЕ', './img/pages/caseDetail/banner.png')

	include ../components/Slider/index.pug

	include ../components/pages/CaseDetail/CaseDetailDescription/index.pug

	+catalogCaseSlider('Реализованные проекты')(class="caseDetail")

	+catalogAddition('Продукция')(class="catalog")

	include ../components/Footer/index.pug

block modals 
	include ../components/modals/ModalPhoto/index.pug
	include ../components/modals/ModalCollection/index.pug
	include ../components/modals/ModalVideo/index.pug
	include ../components/ButtonTop/index.pug

block scripts
	script(src="js/main.js")