extends ../layouts/default

block variables
	- const title = "Присоединится";

block content
	include ../components/Header/index.pug

	+mainBanner('Оказываем помощь в составлении и проверке технических заданий.', '', 'ЗАКАЗАТЬ У ПРОИЗВОДИТЕЛЯ', './img/connect/banner.png')

	+connectContent()

	+connectContent(true)

	include ../components/FormFile/index.pug

	br
	br
	br
	br
	br

	include ../components/Footer/index.pug

block modals 
	include ../components/modals/ModalVideo/index.pug
	include ../components/ButtonTop/index.pug

block scripts
	script(src="js/main.js")