extends ../layouts/default

block variables
	- const title = "Помощь";

block content
	include ../components/Header/index.pug

	+mainBanner('ПОМОЩЬ.', 'Рассчитаем проект расстановки стеллажей для вашего помещения всего за 24 часа.', '', './img/pages/helper/banner.png')

	include ../components/pages/Helper/HelperQuestion/index.pug

	include ../components/pages/Helper/HelperArticles/index.pug

	include ../components/pages/Helper/HelperDocument/index.pug

	include ../components/FormBase/index.pug

	include ../components/Footer/index.pug

block scripts
	script(src="js/main.js")