extends ../layouts/default

block variables
	- const title = "Главная";

block content
	include ../components/Header/index.pug

	include ../components/pages/Index/IndexMain/index.pug

	include ../components/pages/Index/indexCatalogLink/index.pug

	include ../components/pages/Index/indexSteps/index.pug

	include ../components/pages/Index/indexEquipment/index.pug

	include ../components/pages/Index/indexNews/index.pug

	include ../components/Footer/index.pug

block scripts
	script(src="js/main.js")