section.aboutSng
    .containers
        h5.aboutSng__title География поставок более 
            br 
            | 100 городов в 5 странах
        p.aboutSng__text Мы доставляем нашу продукцию 
            br
            | от Калининграда до Дальнего востока и стран СНГ
            br
            | любым удобным видом транспорта
        ul.aboutSng__list
            li.aboutSng__item 
                +aboutSngCard('Центральный офис и завод находится в Перми')
    .aboutSng__banner 
        img(src="./img/pages/about/sng.png" alt="")