mixin modalCollectionSlide(title)
    .modalCollectionSlide
        h5.modalCollectionSlide__title= title 
        .modalCollectionSlide__block 
            .modalCollectionSlide__slider 
                .swiper.modalCollectionSlideSlider
                    .swiper-wrapper
                        each _, i in Array(5)
                            .swiper-slide   
                                .modalCollectionSlide__slider-item 
                                    img(src="./img/pages/catalog/catalogMain/card-4.png" alt="")
                .swiper-control
                    .swiper-button-next
                        img(src="./svg/pages/catalog/catalogMain/arrow-next.svg" alt="")
                    .swiper-button-prev
                        img(src="./svg/pages/catalog/catalogMain/arrow-prev.svg" alt="")
                    .swiper-pagination
            .modalCollectionSlide__content
                ul.modalCollectionSlide__list
                    li.modalCollectionSlide__item 
                        span Заказчик: 
                        p Архив
                    li.modalCollectionSlide__item 
                        span Город и год поставки: 
                        p Пермь, 2019 год
                    li.modalCollectionSlide__item 
                        span Задача клиента: 
                        p Оборудовать здание 
                    li.modalCollectionSlide__item 
                        span Решение: 
                        p Комплекс стеллажей
                .modalCollectionSlide__button 
                    +buttonYellow('УЗНАТЬ СТОИМОСТЬ')
                ul.modalCollectionSlide__tags 
                    li.modalCollectionSlide__tag архив
                    li.modalCollectionSlide__tag мобильные стеллажи