header.header 
    .containers
        .header__container
            .header__block
                a(href="/").header__logo 
                    img(src="./svg/logo.svg" alt="")
                p.header__subtitle Завод по производству 
                    br 
                    | металлических стеллажей 
            .header__block
                .header__city
                    +headerCitySelect
                a(href="mailto:stel@saturngk.ru").header__email 
                    img(src="./svg/header/email.svg" alt="")
                    p stel@saturngk.ru
                a(href="tel:88003504677").header__phone
                    img(src="./svg/header/phone.svg" alt="")
                    p 8 800-350-46-77
                button.header__button заказать звонок
                button.header__menu
                    img(src="./svg/header/menu.svg" alt="")
                button.header__close.display-n
                    img(src="./svg/header/close.svg" alt="")

section.navbar 
    .containers 
        .navbar__arrow#navbarArrowCatalog
            p Продукция
            img(src="./svg/header/arrow-down.svg" alt="")
        .navbar__arrow#navbarArrowProject
            p Реализованные проекты
            img(src="./svg/header/arrow-down.svg" alt="")
            ul.navbar__arrow-list
                li.navbar__arrow-item 
                    a(href="#") Архив
                li.navbar__arrow-item 
                    a(href="#") Библиотека
                li.navbar__arrow-item 
                    a(href="#") Музей
                li.navbar__arrow-item 
                    a(href="#") Склад
                
        a(href="#").navbar__link 
            p Закупкам
        .navbar__arrow#navbarArrowCompony
            p О компании
            img(src="./svg/header/arrow-down.svg" alt="")
            ul.navbar__arrow-list
                li.navbar__arrow-item 
                    a(href="#") Производство
                li.navbar__arrow-item 
                    a(href="#") Рекомендации от клиентов
                li.navbar__arrow-item 
                    a(href="#") Новости
                li.navbar__arrow-item 
                    a(href="#") Карьера в Сатурн
                li.navbar__arrow-item 
                    a(href="#") Реквизиты
                
        .navbar__arrow#navbarArrowHelper
            p Помощь
            img(src="./svg/header/arrow-down.svg" alt="")
            ul.navbar__arrow-list
                li.navbar__arrow-item 
                    a(href="#") Статьи
                li.navbar__arrow-item 
                    a(href="#") Ответы на вопросы
                li.navbar__arrow-item 
                    a(href="#") Документы
            
        a(href="#").navbar__link 
            p Контакты
        .navbar__search
            input(type="text" placeholder="Поиск").navbar__search-input 
            .navbar__search-button 
                img(src="./svg/header/search.svg" alt="")

.navbar__background

.navbar__arrow-block
    ul.navbar__arrow-catalog
        each _, i in Array(19)
            li.navbar__arrow-nav(data-con=i)
                a(href="#") Архив
    ul.navbar__arrow-content
        each _, i in Array(19)
            li.navbar__arrow-con(data-content=i)
                .navbar__arrow-containers
                    .navbar__arrow-title= i
                    ul.navbar__arrow-links 
                        li.navbar__arrow-button
                            a(href="#") Мобильные стеллажи 
                        li.navbar__arrow-button
                            a(href="#") Мобильные стеллажи 
                        
                .navbar__arrow-containers
                    .navbar__arrow-title= i
                    ul.navbar__arrow-links 
                        li.navbar__arrow-button
                            a(href="#") Мобильные стеллажи 
                        li.navbar__arrow-button
                            a(href="#") Мобильные стеллажи 

.menu__mobile.display-n
    .menu__mobile-accordion 
        .menu__mobile-accordion__header
            .menu__mobile-accordion__title Продукция
            button.menu__mobile-accordion__close
                img(src="./svg/header/array.svg" alt="")
        .menu__mobile-accordion__content
                .menu__mobile-accord
                    .menu__mobile-accord__header
                        .menu__mobile-accord__title Металлические стеллажи
                        button.menu__mobile-accord__close
                            img(src="./svg/header/plus.svg" alt="")
                            img(src="./svg/header/minus.svg" alt="")
                    .menu__mobile-accord__content
                        a(href="#").menu__mobile-item Все доп оборудование

    a(href="#").menu__mobile-link Закупкам
    a(href="#").menu__mobile-link Контакты
    button.menu__mobile-button ЗАКАЗАТЬ ЗВОНОК