header.header 
    .containers
        .header__container
            .header__block
                .header__l 
                    img(src="../../svg/logo.svg" alt="")
                p.header__s Завод по производству 
                    br 
                    | металлических стеллажей 
            .header__block
                .header__c Moscow
                a(href="mailto:stel@saturngk.ru").header__e 
                    img(src="../../svg/header/email.svg" alt="")
                    p stel@saturngk.ru
                a(href="tel:8 800-350-46-77").header__p
                    img(src="../../svg/header/phone.svg" alt="")
                    p 8 800-350-46-77
                button.header__b 
                    p заказать звонок
