header.header 
    .containers
        .header__container
            .header__block
                a(href="/").header__logo 
                    img(src="./svg/logo.svg" alt="")
                p.header__subtitle Завод по производству 
                    br 
                    | металлических стеллажей 
            .header__block
                .header__city
                    +headerCitySelect
                a(href="mailto:stel@saturngk.ru").header__email 
                    img(src="./svg/header/email.svg" alt="")
                    p stel@saturngk.ru
                a(href="tel:88003504677").header__phone
                    img(src="./svg/header/phone.svg" alt="")
                    p 8 800-350-46-77
                button.header__button.b24-web-form-popup-btn-40 заказать звонок
                button.header__menu
                    img(src="./svg/header/menu.svg" alt="")
                button.header__close.display-n
                    img(src="./svg/header/close.svg" alt="")

section.navbar 
    .containers 
        .navbar__arrows
            .navbar__arrow#navbarArrowCatalog
                p Продукция
                img(src="./svg/header/arrow-down.svg" alt="")
            .navbar__arrow#navbarArrowProject
                p Реализованные проекты
                img(src="./svg/header/arrow-down.svg" alt="")
                ul.navbar__arrow-list
                    li.navbar__arrow-item 
                        a(href="#") Архив
                    li.navbar__arrow-item 
                        a(href="#") Библиотека
                    li.navbar__arrow-item 
                        a(href="#") Музей
                    li.navbar__arrow-item 
                        a(href="#") Склад

            .navbar__arrow#navbarArrowBuy
                p Закупкам
                img(src="./svg/header/arrow-down.svg" alt="")
                ul.navbar__arrow-list
                    li.navbar__arrow-item 
                        a(href="#") Гос.сектору
                    li.navbar__arrow-item 
                        a(href="#") Промышленности и бизнесу
                    li.navbar__arrow-item 
                        a(href="#") Гарантии
                    li.navbar__arrow-item 
                        a(href="#") Оплата и доставка
                    li.navbar__arrow-item 
                        a(href="#") Изготовление по заказу
                    li.navbar__arrow-item 
                        a(href="#") Бесплатный проект
                    
            .navbar__arrow#navbarArrowCompony
                p О компании
                img(src="./svg/header/arrow-down.svg" alt="")
                ul.navbar__arrow-list
                    li.navbar__arrow-item 
                        a(href="#") Производство
                    li.navbar__arrow-item 
                        a(href="#") Рекомендации от клиентов
                    li.navbar__arrow-item 
                        a(href="#") Новости
                    li.navbar__arrow-item 
                        a(href="#") Карьера в Сатурн
                    li.navbar__arrow-item 
                        a(href="#") Реквизиты
                    
            .navbar__arrow#navbarArrowHelper
                p Помощь
                img(src="./svg/header/arrow-down.svg" alt="")
                ul.navbar__arrow-list
                    li.navbar__arrow-item 
                        a(href="#") Статьи
                    li.navbar__arrow-item 
                        a(href="#") Ответы на вопросы
                    li.navbar__arrow-item 
                        a(href="#") Документы
                
        a(href="#").navbar__link 
            p Контакты
        form.navbar__search
            input(type="text" placeholder="Поиск").navbar__search-input 
            input(type="submit").navbar__search-button 
            img(src="./svg/header/search.svg" alt="")

.navbar__background

.navbar__arrow-block
    ul.navbar__arrow-catalog
        li.navbar__arrow-nav(data-con='1')
            a(href="#") Металлические стеллажи
        li.navbar__arrow-nav(data-con='2')
            a(href="#") Стеллажи для архива
        li.navbar__arrow-nav(data-con='3')
            a(href="#") Стеллажи для библиотек
        li.navbar__arrow-nav(data-con='4')
            a(href="#") Стеллажи для музеев и фондов
        li.navbar__arrow-nav(data-con='5')
            a(href="#") Стеллажи для медучреждений
        li.navbar__arrow-nav(data-con='6')
            a(href="#") Стеллажи для промышленности
        li.navbar__arrow-nav(data-con='7')
            a(href="#") Дополнительное оборудование
        li.navbar__arrow-nav(data-con='8')
            a(href="#") Стеллажи на заказ
    ul.navbar__arrow-content
            li.navbar__arrow-con(data-content='1')
                .navbar__arrow-containers
                    .navbar__arrow-title По виду
                    ul.navbar__arrow-links 
                        li.navbar__arrow-button
                            a(href="#") Мобильные стеллажи 
                        li.navbar__arrow-button
                            a(href="#") Стеллажи с электроприводом
                        li.navbar__arrow-button
                            a(href="#") Раздвижные стеллажи
                        li.navbar__arrow-button
                            a(href="#") Стационарные стеллажи
                        li.navbar__arrow-button
                            a(href="#") Полочные среднегрузовые cтеллажи 
                        li.navbar__arrow-button
                            a(href="#") Передвижные cреднегрузовые
                        li.navbar__arrow-button
                            a(href="#") Стеллажи с ячейками для склада
                        li.navbar__arrow-button
                            a(href="#") Стеллажи с выкатными платформами
                .navbar__arrow-containers
                    .navbar__arrow-title По типу
                    ul.navbar__arrow-links 
                        li.navbar__arrow-button
                            a(href="#") Стеллажи с дверями 
                        li.navbar__arrow-button
                            a(href="#") Стеллажи с выдвижными ящиками 
                        li.navbar__arrow-button
                            a(href="#") Ячеистые стеллажи 
                        li.navbar__arrow-button
                            a(href="#") Секционные стеллажи 
                        li.navbar__arrow-button
                            a(href="#") Стеллажи для одежды 
                        li.navbar__arrow-button
                            a(href="#") Стеллажи для документов  
                        li.navbar__arrow-button
                            a(href="#") Стеллажи для чертежей  
                        li.navbar__arrow-button
                            a(href="#") Стеллажи для коробов
            li.navbar__arrow-con(data-content='2')
                .navbar__arrow-containers
                    .navbar__arrow-title Продукция
                    ul.navbar__arrow-links 
                        li.navbar__arrow-button
                            a(href="#") Стеллажи для архивов
                        li.navbar__arrow-button
                            a(href="#") Передвижные стеллажи
                        li.navbar__arrow-button
                            a(href="#") Стационарные стеллажи
                        li.navbar__arrow-button
                            a(href="#") Высокие стеллажи
                        li.navbar__arrow-button
                            a(href="#") Архивная тележка
                .navbar__arrow-containers
                    .navbar__arrow-title Что храним
                    ul.navbar__arrow-links 
                        li.navbar__arrow-button
                            a(href="#") Документы
                        li.navbar__arrow-button
                            a(href="#") Чертежи
                        li.navbar__arrow-button
                            a(href="#") Короба
                .navbar__arrow-containers
                    .navbar__arrow-title Что оборудуем
                    ul.navbar__arrow-links 
                        li.navbar__arrow-button
                            a(href="#") Мобильные архив
                        li.navbar__arrow-button
                            a(href="#") Высокий архив

.menu__mobile.display-n
    .menu__mobile-accordion(value-index="1")
        .menu__mobile-accordion__header(data-index="1")
            .menu__mobile-accordion__title Продукция
            button.menu__mobile-accordion__close
                img(src="./svg/header/array.svg" alt="")
        .menu__mobile-accordion__content
                .menu__mobile-accord(value-catalog="1")
                    .menu__mobile-accord__header(data-catalog="1")
                        .menu__mobile-accord__title Металлические стеллажи
                        button.menu__mobile-accord__close
                            img(src="./svg/header/plus.svg" alt="")
                            img(src="./svg/header/minus.svg" alt="")
                    .menu__mobile-accord__content
                        a(href="#").menu__mobile-item Мобильные стеллажи 
                        a(href="#").menu__mobile-item Стеллажи с электроприводом
                        a(href="#").menu__mobile-item Раздвижные стеллажи
                        a(href="#").menu__mobile-item Стационарные стеллажи
                        a(href="#").menu__mobile-item Полочные среднегрузовые cтеллажи 
                        a(href="#").menu__mobile-item Передвижные cреднегрузовые
                        a(href="#").menu__mobile-item Стеллажи с ячейками для склада
                        a(href="#").menu__mobile-item Стеллажи с выкатными платформами
                .menu__mobile-accord(value-catalog="2")
                    .menu__mobile-accord__header(data-catalog="2")
                        .menu__mobile-accord__title Стеллажи для архива
                        button.menu__mobile-accord__close
                            img(src="./svg/header/plus.svg" alt="")
                            img(src="./svg/header/minus.svg" alt="")
                    .menu__mobile-accord__content
                        a(href="#").menu__mobile-item Стеллажи с дверями 
                        a(href="#").menu__mobile-item Стеллажи с выдвижными ящиками
                        a(href="#").menu__mobile-item Ячеистые стеллажи 
                        a(href="#").menu__mobile-item Секционные стеллажи 
                        a(href="#").menu__mobile-item Стеллажи для одежды 
                        a(href="#").menu__mobile-item Стеллажи для документов 
                        a(href="#").menu__mobile-item Стеллажи для чертежей 
                        a(href="#").menu__mobile-item Стеллажи для коробов
    .menu__mobile-accordion(value-index="2")
        .menu__mobile-accordion__header(data-index="2")
            .menu__mobile-accordion__title Закупкам
            button.menu__mobile-accordion__close
                img(src="./svg/header/array.svg" alt="")
        .menu__mobile-accordion__content
                .menu__mobile-accord 
                    .menu__mobile-list
                        a(href="#").menu__mobile-accord__title Гос.сектору
                        a(href="#").menu__mobile-accord__title Промышленности и бизнесу
                        a(href="#").menu__mobile-accord__title Гарантии
                        a(href="#").menu__mobile-accord__title Оплата и доставка
                        a(href="#").menu__mobile-accord__title Изготовление по заказу
                        a(href="#").menu__mobile-accord__title Бесплатный проект
                        
    a(href="#").menu__mobile-link Закупкам
    a(href="#").menu__mobile-link Контакты
    button.menu__mobile-button ЗАКАЗАТЬ ЗВОНОК