header.header 
    .containers
        .header__container
            .header__block
                a(href="/").header__logo 
                    img(src="./svg/logo.svg" alt="")
                p.header__subtitle Завод по производству 
                    br 
                    | металлических стеллажей 
            .header__block
                .header__city
                    +headerCity
                a(href="mailto:stel@saturngk.ru").header__email 
                    img(src="./svg/header/email.svg" alt="")
                    p stel@saturngk.ru
                a(href="tel:8 800-350-46-77").header__phone
                    img(src="./svg/header/phone.svg" alt="")
                    p 8 800-350-46-77
                button.header__button 
                    p заказать звонок
