header.header 
    .containers
        .header__container
            .header__block
                a(href="/").header__logo 
                    img(src="./svg/logo.svg" alt="")
                p.header__subtitle Завод по производству 
                    br 
                    | металлических стеллажей 
            .header__block
                .header__city
                    +headerCitySelect
                a(href="mailto:stel@saturngk.ru").header__email 
                    img(src="./svg/header/email.svg" alt="")
                    p stel@saturngk.ru
                a(href="tel:88003504677").header__phone
                    img(src="./svg/header/phone.svg" alt="")
                    p 8 800-350-46-77
                button.header__button.b24-web-form-popup-btn-40 заказать звонок
                button.header__menu
                    img(src="./svg/header/menu.svg" alt="")
                button.header__close.display-n
                    img(src="./svg/header/close.svg" alt="")

section.navbar 
    .containers 
        .navbar__arrow#navbarArrowCatalog
            p Продукция
            img(src="./svg/header/arrow-down.svg" alt="")
        .navbar__arrow#navbarArrowProject
            p Реализованные проекты
            img(src="./svg/header/arrow-down.svg" alt="")
            ul.navbar__arrow-list
                li.navbar__arrow-item 
                    a(href="#") Архив
                li.navbar__arrow-item 
                    a(href="#") Библиотека
                li.navbar__arrow-item 
                    a(href="#") Музей
                li.navbar__arrow-item 
                    a(href="#") Склад
                
        a(href="#").navbar__link 
            p Закупкам
        .navbar__arrow#navbarArrowCompony
            p О компании
            img(src="./svg/header/arrow-down.svg" alt="")
            ul.navbar__arrow-list
                li.navbar__arrow-item 
                    a(href="#") Производство
                li.navbar__arrow-item 
                    a(href="#") Рекомендации от клиентов
                li.navbar__arrow-item 
                    a(href="#") Новости
                li.navbar__arrow-item 
                    a(href="#") Карьера в Сатурн
                li.navbar__arrow-item 
                    a(href="#") Реквизиты
                
        .navbar__arrow#navbarArrowHelper
            p Помощь
            img(src="./svg/header/arrow-down.svg" alt="")
            ul.navbar__arrow-list
                li.navbar__arrow-item 
                    a(href="#") Статьи
                li.navbar__arrow-item 
                    a(href="#") Ответы на вопросы
                li.navbar__arrow-item 
                    a(href="#") Документы
            
        a(href="#").navbar__link 
            p Контакты
        .navbar__search
            input(type="text" placeholder="Поиск").navbar__search-input 
            .navbar__search-button 
                img(src="./svg/header/search.svg" alt="")

.navbar__background

.navbar__arrow-block
    ul.navbar__arrow-catalog
        li.navbar__arrow-nav(data-con='1')
            a(href="#") Металлические стеллажи
        li.navbar__arrow-nav(data-con='2')
            a(href="#") Стеллажи для архива
        li.navbar__arrow-nav(data-con='3')
            a(href="#") Стеллажи для библиотек
        li.navbar__arrow-nav(data-con='4')
            a(href="#") Стеллажи для музеев и фондов
        li.navbar__arrow-nav(data-con='5')
            a(href="#") Стеллажи для медучреждений
        li.navbar__arrow-nav(data-con='6')
            a(href="#") Стеллажи для промышленности
        li.navbar__arrow-nav(data-con='7')
            a(href="#") Дополнительное оборудование
        li.navbar__arrow-nav(data-con='8')
            a(href="#") Стеллажи на заказ
    ul.navbar__arrow-content
            li.navbar__arrow-con(data-content='1')
                .navbar__arrow-containers
                    .navbar__arrow-title По типу
                    ul.navbar__arrow-links 
                        li.navbar__arrow-button
                            a(href="#") Мобильные стеллажи 
                        li.navbar__arrow-button
                            a(href="#") Стеллажи с электроприводом
                        li.navbar__arrow-button
                            a(href="#") Раздвижные стеллажи
                        li.navbar__arrow-button
                            a(href="#") Стационарные стеллажи
                        li.navbar__arrow-button
                            a(href="#") Полочные среднегрузовые cтеллажи 
                        li.navbar__arrow-button
                            a(href="#") Передвижные cреднегрузовые
                        li.navbar__arrow-button
                            a(href="#") Стеллажи с ячейками для склада
                        li.navbar__arrow-button
                            a(href="#") Стеллажи с выкатными платформами
                .navbar__arrow-containers
                    .navbar__arrow-title По виду
                    ul.navbar__arrow-links 
                        li.navbar__arrow-button
                            a(href="#") Стеллажи с дверями 
                        li.navbar__arrow-button
                            a(href="#") Стеллажи с выдвижными ящиками 
                        li.navbar__arrow-button
                            a(href="#") Ячеистые стеллажи 
                        li.navbar__arrow-button
                            a(href="#") Секционные стеллажи 
                        li.navbar__arrow-button
                            a(href="#") Стеллажи для одежды 
                        li.navbar__arrow-button
                            a(href="#") Стеллажи для документов  
                        li.navbar__arrow-button
                            a(href="#") Стеллажи для чертежей  
                        li.navbar__arrow-button
                            a(href="#") Стеллажи для коробов

.menu__mobile.display-n
    .menu__mobile-accordion 
        .menu__mobile-accordion__header
            .menu__mobile-accordion__title Продукция
            button.menu__mobile-accordion__close
                img(src="./svg/header/array.svg" alt="")
        .menu__mobile-accordion__content
                .menu__mobile-accord
                    .menu__mobile-accord__header
                        .menu__mobile-accord__title Металлические стеллажи
                        button.menu__mobile-accord__close
                            img(src="./svg/header/plus.svg" alt="")
                            img(src="./svg/header/minus.svg" alt="")
                    .menu__mobile-accord__content
                        a(href="#").menu__mobile-item Все доп оборудование

    a(href="#").menu__mobile-link Закупкам
    a(href="#").menu__mobile-link Контакты
    button.menu__mobile-button ЗАКАЗАТЬ ЗВОНОК