mixin headerCitySelect
    select(class="headerCitySelect" name="headerCitySelect" style="display: none")
        option(value="default" selected="") Moscow
        option(value="element_1") Moscow 1 
        option(value="element_2") Moscow 2
        option(value="element_3") Moscow 3 
        option(value="element_4") Moscow 4 
        option(value="element_5") Moscow 5 
        option(value="element_6") Moscow 6 