mixin headerCitySelect
    .headerCitySelect
        .headerCitySelect-placeholder Moscow
        .headerCitySelect-block(style="display: none") 
            .headerCitySelect-wrapper 
                a(href="https://google.com" class="headerCitySelect-element headerCitySelect-element-active") Moscow
                a(href="https://google.com" class="headerCitySelect-element") Moscow 1 
                a(href="https://google.com" class="headerCitySelect-element") Moscow 2 
                a(href="https://google.com" class="headerCitySelect-element") Moscow 3 
                a(href="https://google.com" class="headerCitySelect-element") Moscow 4 
                a(href="https://google.com" class="headerCitySelect-element") Moscow 5 