.header {
	width: 100%;
	min-height: 70px;
	background: $color-white;
	@include flexStyle(center, center);
	position: relative;
	z-index: 200;
	& .containers {
		width: 100%;
	}
	&__container {
		@include flexStyle(center, space-between, row, 30px);
		width: 100%;
	}
	&__menu {
		display: none;
		width: 45px;
		cursor: pointer;
		height: 45px;
		background: transparent;
	}
	&__close {
		width: 45px;
		cursor: pointer;
		height: 45px;
		background: transparent;
	}
	&__block {
		width: max-content;
		@include flexStyle(center);
		&:first-child {
			justify-content: flex-start;
			gap: 32px;
		}
		&:last-child {
			justify-content: flex-end;
			gap: 30px;
		}
	}
	&__logo {
		cursor: pointer;
	}
	&__subtitle {
		@include fontStyle(10px, 400, 13px, $color-gray-black);
	}
	&__email {
		@include flexStyle(center, center, row, 11px);
		& p {
			@include fontStyle(15px, 400, 19px, $color-blue-black);
			letter-spacing: -0.5px;
		}
	}
	&__phone {
		@include flexStyle(center, center, row, 11px);
		& p {
			@include fontStyle(15px, 400, 19px, $color-blue-black);
		}
	}
	&__button {
		background: $color-yellow;
		border-radius: 10px;
		padding: 10px 17px;
		cursor: pointer;
		@include fontStyle(14px, 700, 16px, $color-black);
		text-transform: uppercase;
	}
}

//| City Select

.headerCitySelect {
	padding: 7px 5px 7px 25px;
	border-radius: 30.5px;
	background-color: $color-white;
	width: 75px;
	position: relative;
	box-sizing: content-box;
	&::after {
		content: '';
		background: url('./../svg/header/arrow-down-blue-dark.svg') no-repeat;
		@include transitionStyle();
		position: absolute;
		top: 50%;
		right: -8px;
		transform: translate(0, -50%);
		height: 11px;
		width: 14px;
	}
	&::before {
		content: '';
		width: 24px;
		height: 24px;
		position: absolute;
		top: 50%;
		left: 0;
		background-image: url('./../svg/header/geo.svg');
		transform: translate(0, -50%);
	}
	&-placeholder {
		display: block;
		padding: 5px 0;
		width: 100%;
		height: 100%;
		position: relative;
		cursor: pointer;
		@include fontStyle(15px, 500, 19px, $color-blue-black);
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		white-space: nowrap;
		box-sizing: content-box;
	}
	&-block {
		bottom: auto;
		top: 100%;
		position: absolute;
		left: 0;
		z-index: 5;
		box-sizing: content-box;
	}
	&-wrapper {
		@include flexStyle(flex-start, flex-start, column);
		height: max-content;
		max-height: 120px;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 27px;
		}
		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 10px 10px $color-gray;
			box-shadow: inset 0 0 10px 10px $color-gray;
			border: solid 12px $transparent;
		}
		&::-webkit-scrollbar-thumb {
			-webkit-box-shadow: inset 0 0 10px 10px $color-black;
			box-shadow: inset 0 0 10px 10px $color-black;
			border: solid 10px $transparent;
		}
	}
	&-element {
		width: 100%;
		padding: 3px 0;
		background: 0 0;
		color: $color-black;
		border: none;
		margin: 0 0 5px 0;
		text-align: left;
		cursor: pointer;
		&-active {
			background: $color-white;
		}
	}
	&-item-active {
		&::after {
			@include transitionStyle();
			transform: translate(0, -50%) rotate(180deg);
		}
		& .headerCitySelect-block {
			padding: 15px 0 15px 15px;
			width: 100px;
			height: auto;
			border-radius: 15px;
			background-color: $color-white;
			border: 1px solid $color-black;
		}
	}
}

//| Nav

.navbar {
	position: relative;
	z-index: 160;
	width: 100%;
	background-color: $color-light-yellow-green;
	& .containers {
		width: 100%;
		@include flexStyle(center, space-between, row, 8px);
	}
	&__background {
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		cursor: not-allowed;
		visibility: hidden;
		height: 100vh;
		background: $color-black;
		z-index: 100;
		@include transitionStyle();
		&-active {
			opacity: 0.9;
			cursor: auto;
			visibility: visible;
		}
	}
	&__search {
		margin: 16px 0;
		width: 305px;
		background: $color-white;
		border-radius: 19px;
		padding: 7px 18px 7px 34px;
		@include flexStyle(center, center, row, 10px);
		&-input {
			width: 100%;
			background-color: transparent;
			font-style: normal;
			letter-spacing: -0.5px;
			@include fontStyle(17px, 400, 19px, $color-black);
			&::placeholder {
				@include fontStyle(17px, 400, 19px, $color-black);
				opacity: 0.5;
			}
		}
		&-button {
			width: 24px;
			height: 24px;
			background-color: transparent;
			cursor: pointer;
		}
	}
	&__link {
		cursor: pointer;
		& p {
			letter-spacing: -0.5px;
			@include fontStyle(18px, 400, 19px, $color-blue-black);
		}
	}
	&__arrow {
		padding: 25px 10px;
		position: relative;
		cursor: pointer;
		@include flexStyle(center, center, row, 12px);
		transition: all 0.5s ease;

		&:hover {
			background-color: rgb(214 215 211);
		}

		& p {
			letter-spacing: -0.5px;
			@include fontStyle(18px, 400, 19px, $color-blue-black);
		}
		& img {
			width: 19px;
			height: 19px;
		}
		&-block {
			position: absolute;
			width: 100%;
			max-width: calc(1440px - 180px);
			left: 50%;
			transform: translate(-50%, 0);
			top: 0;
			padding: 140px 0 0 0;
			cursor: not-allowed;
			visibility: hidden;
			opacity: 0;
			background-color: $color-white;
			height: 100vh;
			z-index: 120;
			@include flexStyle(flex-start, flex-start);
			&__active {
				cursor: auto;
				visibility: visible;
				opacity: 1;
				height: 700px;
			}
		}
		&-catalog {
			width: 340px;
			background-color: transparent;
			@include flexStyle(flex-start, flex-start, column);
			overflow-y: scroll;
			overflow-x: hidden;
			height: 100%;
			&::-webkit-scrollbar {
				width: 0;
			}
		}
		&-content {
			width: calc(100% - 340px);
			@include flexStyle(flex-start, flex-start, row, 25px, wrap);
			overflow-y: scroll;
			overflow-x: hidden;
			height: 100%;
		}
		&-con {
			width: 100%;
			grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
			gap: 35px 25px;
			display: none;
			padding: 25px 45px 25px 45px;
			&__active {
				display: grid;
			}
		}
		&-nav {
			width: 100%;
			padding: 29px 25px 29px 25px;
			background-color: $color-white;
			@include transitionStyle();
			cursor: pointer;
			& a {
				letter-spacing: -0.5px;
				@include fontStyle(16px, 400, 19px, $color-blue-black);
			}
			&__active {
				background: #efefef;
			}
		}
		&-containers {
			width: max-content;
			@include flexStyle(flex-start, flex-start, column, 25px);
		}
		&-title {
			@include fontStyle(22px, 700, 25px, $color-blue-black);
		}
		&-links {
			width: 100%;
			@include flexStyle(flex-start, flex-start, column, 12px);
		}
		&-button {
			cursor: pointer;
			letter-spacing: -0.5px;
			@include fontStyle(17px, 400, 30px, $color-blue-black);
			@include transitionStyle();
			&::hover {
				& a {
					text-decoration: underline;
				}
			}
			& a {
				letter-spacing: -0.5px;
				@include fontStyle(17px, 400, 30px, $color-blue-black);
				@include transitionStyle();
			}
		}
		&-list {
			width: 235px;
			@include flexStyle(flex-start, flex-start, column);
			position: absolute;
			z-index: 120;
			top: 69px;
			left: 0;
			cursor: not-allowed;
			visibility: hidden;
			opacity: 0;
			&__active {
				opacity: 1;
				cursor: auto;
				visibility: visible;
			}
		}
		&-item {
			cursor: pointer;
			padding: 28px;
			letter-spacing: -0.5px;
			& a {
				@include fontStyle(16px, 400, 19px, $color-blue-black);
				@include transitionStyle();
			}
			background-color: $color-white;
			@include transitionStyle();
			width: 100%;
			&:hover {
				background: #40395a;
				& a {
					color: $color-white;
				}
			}
		}
	}
}

//| Menu modile

.menu__mobile {
	position: fixed;
	height: calc(100vh - 70px);
	top: 70px;
	width: 100%;
	background: $color-white;
	z-index: 500;
	display: flex;
	padding: 23px 0 65px 0;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 22px;
	overflow-y: scroll;
	&-button {
		cursor: pointer;
		position: fixed;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: 0;
		z-index: 2;
		width: 100%;
		padding: 11px 30px;
		background: $color-yellow;
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		color: #141413;
	}
	&-link {
		font-weight: 700;
		font-size: 16px;
		line-height: 18px;
		text-decoration-line: underline;
		color: #201547;
		padding: 0 34px;
	}
	&-accordion {
		width: 100%;
		&__header {
			padding: 6px 34px;
			display: grid;
			align-items: center;
			grid-template-columns: 1fr 24px;
			gap: 20px;
			width: 100%;
		}
		&__close {
			width: 24px;
			height: 24px;
			cursor: pointer;
			background: transparent;
			transition: all 0.5s ease;
		}
		&__title {
			font-weight: 400;
			font-size: 15px;
			line-height: 17px;
			color: #201547;
		}
		&__content {
			margin-top: 0px;
			padding: 0;
			height: 0;
			transition: all 0.5s ease-in-out;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 22px;
		}
		&__active {
			& .menu__mobile-accordion__close {
				transform: rotate(-180deg);
			}
			& .menu__mobile-accordion__content {
				height: max-content;
			}
		}
	}
	&-accord {
		width: 100%;
		&__header {
			padding: 6px 34px;
			display: grid;
			align-items: center;
			grid-template-columns: 1fr 24px;
			gap: 20px;
			width: 100%;
		}
		&__close {
			cursor: pointer;
			background: transparent;
			transition: all 0.5s ease;
			width: 24px;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			& img:nth-child(2) {
				display: none;
			}
		}
		&__title {
			font-weight: 400;
			font-size: 15px;
			line-height: 17px;
			color: #201547;
		}
		&__content {
			position: relative;
			margin-top: 0px;
			padding: 0 34px;
			background: $color-gray-light;
			height: 0;
			transition: all 0.5s ease-in-out;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 22px;
		}
		&__active {
			& .menu__mobile-accord__close {
				& img {
					&:nth-child(1) {
						display: none;
					}
					&:nth-child(2) {
						display: block;
					}
				}
			}
			& .menu__mobile-accord__content {
				height: max-content;
			}
		}
	}
	&-item {
		font-weight: 400;
		font-size: 15px;
		line-height: 44px;
		letter-spacing: -0.5px;
		text-decoration-line: underline;
		color: #201547;
	}
}

//| Media

@media (max-width: 1370px) {
	.navbar .containers {
		gap: 10px;
	}
}

@media (max-width: 1200px) {
	.navbar {
		display: none;
	}
	.header {
		background-color: $color-light-yellow-green;
	}
	.header__city {
		display: none;
	}
	.header__menu {
		display: block;
	}
}

@media (max-width: 1050px) {
	.header__block {
		gap: 15px !important;
	}
}

@media (max-width: 950px) {
	.header__subtitle,
	.header__button {
		display: none;
	}
}

@media (max-width: 650px) {
	.header__phone p,
	.header__email {
		display: none;
	}
	.header__phone img {
		width: 45px;
		height: 45px;
	}
}
