.header {
	width: 100%;
	min-height: 70px;
	background: $color-white;
	@include flexStyle(center, center);
	& .containers {
		width: 100%;
	}
	&__container {
		@include flexStyle(center, space-between, row, 30px);
		width: 100%;
	}
	&__block {
		width: max-content;
		@include flexStyle(center);
		&:first-child {
			justify-content: flex-start;
			gap: 32px;
		}
		&:last-child {
			justify-content: flex-end;
			gap: 30px;
		}
	}
	&__logo {
		cursor: pointer;
	}
	&__subtitle {
		@include fontStyle(10px, 400, 13px, $color-gray-black);
	}
	&__email {
		@include flexStyle(center, center, row, 11px);
		& p {
			@include fontStyle(15px, 400, 19px, $color-blue-black);
			letter-spacing: -0.5px;
		}
	}
	&__phone {
		@include flexStyle(center, center, row, 11px);
		& p {
			@include fontStyle(15px, 400, 19px, $color-blue-black);
		}
	}
	&__button {
		background: $color-yellow;
		border-radius: 10px;
		padding: 10px 17px;
		cursor: pointer;
		& p {
			@include fontStyle(14px, 700, 16px, $color-black);
			text-transform: uppercase;
		}
	}
}

//| City Select

.headerCitySelect {
	padding: 7px 5px 7px 25px;
	border-radius: 30.5px;
	background-color: $color-white;
	width: 75px;
	position: relative;
	box-sizing: content-box;
	&::after {
		content: '';
		background: url('./../svg/header/arrow-down-blue-dark.svg') no-repeat;
		transition: all 0.5s ease;
		position: absolute;
		top: 50%;
		right: -8px;
		transform: translate(0, -50%);
		height: 11px;
		width: 14px;
	}
	&::before {
		content: '';
		width: 24px;
		height: 24px;
		position: absolute;
		top: 50%;
		left: 0;
		background-image: url('./../svg/header/geo.svg');
		transform: translate(0, -50%);
	}
	&-placeholder {
		display: block;
		padding: 5px 0;
		width: 100%;
		height: 100%;
		position: relative;
		cursor: pointer;
		@include fontStyle(15px, 500, 19px, $color-blue-black);
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		white-space: nowrap;
		box-sizing: content-box;
	}
	&-block {
		bottom: auto;
		top: 100%;
		position: absolute;
		left: 0;
		z-index: 5;
		box-sizing: content-box;
	}
	&-wrapper {
		@include flexStyle(flex-start, flex-start, column);
		height: max-content;
		max-height: 120px;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 27px;
		}
		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 10px 10px $color-gray;
			box-shadow: inset 0 0 10px 10px $color-gray;
			border: solid 12px $transparent;
		}
		&::-webkit-scrollbar-thumb {
			-webkit-box-shadow: inset 0 0 10px 10px $color-black;
			box-shadow: inset 0 0 10px 10px $color-black;
			border: solid 10px $transparent;
		}
	}
	&-element {
		width: 100%;
		padding: 3px 0;
		background: 0 0;
		color: $color-black;
		border: none;
		margin: 0 0 5px 0;
		text-align: left;
		cursor: pointer;
		&-active {
			background: $color-white;
		}
	}
	&-item-active {
		&::after {
			transition: all 0.5s ease;
			transform: translate(0, -50%) rotate(180deg);
		}
		& .headerCitySelect-block {
			padding: 15px 0 15px 15px;
			width: 100px;
			height: auto;
			border-radius: 15px;
			background-color: $color-white;
			border: 1px solid $color-black;
		}
	}
}
