section.aboutCharact
    .containers
        h5.aboutCharact__title Наша ценности
        p.aboutCharact__text Что движет нами каждый день ?
        ul.aboutCharact__list 
            each _, i in Array(4)
                +aboutCharactCard('Сотрудничество', 'Поощряйте командную работу, гармонию и уважение на рабочем месте Поощряйте командную работу, гармонию и уважение на рабочем месте Поощряйте командную работу, гармонию и уважение на рабочем месте на рабочем месте на рабочем месте')
