mixin aboutCharactCard(title, text)
    .aboutCharactCard
        .aboutCharactCard__banner 
            img(src="./img/pages/about/card.png" alt="")
            p= text
        .aboutCharactCard__title 
            p= title 