include Header/mixin.pug
include Footer/mixin.pug
include pages/PickUp/mixin.pug
include pages/Index/IndexMain/mixin.pug
include pages/Index/indexCatalogLink/mixin.pug
include pages/Index/indexSteps/mixin.pug