include Header/mixin.pug
include Footer/mixin.pug
include FormBase/mixin.pug
include FormFile/mixin.pug
include Space/mixin.pug
include mainBanner/mixin.pug
include pages/PickUp/mixin.pug
include pages/Connect/ConnectContent/mixin.pug
include pages/Index/IndexMain/mixin.pug
include pages/Index/IndexEquipment/mixin.pug
include pages/Index/indexCatalogLink/mixin.pug
include pages/Index/indexNews/mixin.pug
include pages/Index/indexSteps/mixin.pug
include pages/Index/indexAbout/mixin.pug
include pages/Index/indexCase/mixin.pug
include pages/Index/indexLink/mixin.pug

//- Mixin

mixin buttonYellow(text)
    button.buttonYellow
        p.buttonYellow__text= text
        img(src="./svg/mixin/arrow-link.svg" alt="").buttonYellow__img

mixin videoPlaceholder(src)
    .videoPlaceholder__video 
            img(src=src alt="")
            .videoPlaceholder__player
                p Воспроизвести 
                    br 
                    | видео
                img(src="./svg/index/indexMain/play.svg" alt="")