@import './Header/styles';
@import './Footer/styles';
@import './Space/styles';
@import './FormBase/styles';
@import './FormFile/styles';
@import './Feedback/styles';
@import './Team/styles';
@import './Helper/styles';
@import './MainBanner/styles';
@import './pages/Connect/ConnectContent/styles';
@import './pages/Index/IndexMain/styles';
@import './pages/Index/IndexCatalogLink/styles';
@import './pages/Index/IndexSteps/styles';
@import './pages/Index/IndexCase/styles';
@import './pages/Index/IndexLink/styles';
@import './pages/Index/IndexAbout/styles';
@import './pages/Index/IndexEquipment/styles';
@import './pages/Index/IndexNews/styles';
@import './pages/Cases/CasesBase/styles';
@import './pages/Cases/CasesDescription/styles';
@import './pages/Catalog/CatalogBanner/styles';
@import './pages/Catalog/CatalogCase/styles';
@import './pages/Catalog/CatalogTable/styles';
@import './pages/Catalog/CatalogMain/styles';

// Mixin

.buttonYellow {
	padding: 23px 30px;
	@include flexStyle(center, center, row, 25px);
	cursor: pointer;
	background-color: $color-yellow;
	border-radius: 10px;
	&__text {
		@include fontStyle(18px, 700, 18px, $color-black);
	}
}

.videoPlaceholder {
	&__video {
		width: 605px;
		height: 484px;
		overflow: hidden;
		border-radius: 20px;
		position: relative;
		& img {
			@include imgFullSize();
		}
	}
	&__player {
		position: absolute;
		bottom: 0;
		cursor: pointer;
		right: 0;
		width: 148px;
		height: 155px;
		overflow: hidden;
		background: $color-blue;
		border-radius: 0px 0px 20px 0px;
		padding: 25px;
		@include flexStyle(flex-end, flex-end, column, 40px);
		box-sizing: border-box;
		& p {
			@include fontStyle(14px, 400, 16px, $color-white);
		}
		& img {
			width: 40px;
			height: 40px;
		}
	}
}
