@import './Header/styles';
@import './Footer/styles';
@import './Space/styles';
@import './FormBase/styles';
@import './FormFile/styles';
@import './Feedback/styles';
@import './Slider/styles';
@import './Team/styles';
@import './Helper/styles';
@import './MainBanner/styles';
@import './Designs/styles';
@import './pages/Add/AddCatalog/styles';
@import './pages/Add/AddDescription/styles';
@import './pages/Decision/DecisionDescription/styles';
@import './pages/Connect/ConnectContent/styles';
@import './pages/Index/IndexMain/styles';
@import './pages/Index/IndexCatalogLink/styles';
@import './pages/Index/IndexSteps/styles';
@import './pages/Index/IndexCase/styles';
@import './pages/Index/IndexLink/styles';
@import './pages/Index/IndexAbout/styles';
@import './pages/Index/IndexEquipment/styles';
@import './pages/Index/IndexNews/styles';
@import './pages/Cases/CasesBase/styles';
@import './pages/Cases/CasesDescription/styles';
@import './pages/CaseDetail/CaseDetailDescription/styles';
@import './pages/Catalog/CatalogBanner/styles';
@import './pages/Catalog/CatalogCase/styles';
@import './pages/Catalog/CatalogTable/styles';
@import './pages/Catalog/CatalogList/styles';
@import './pages/Catalog/CatalogAddition/styles';
@import './pages/Catalog/CatalogStages/styles';
@import './pages/Catalog/CatalogRequest/styles';
@import './pages/Catalog/CatalogText/styles';
@import './pages/Catalog/CatalogMain/styles';
@import './pages/Catalog/CatalogDescription/styles';
@import './pages/Catalog/CatalogCollection/styles';
@import './pages/Production/ProductionDescription/styles';
@import './pages/Production/ProductionStages/styles';
@import './pages/Production/ProductionText/styles';
@import './pages/News/NewsList/styles';
@import './pages/NewsDetail/styles';
@import './pages/Goods/GoodsMain/styles';
@import './pages/Goods/GoodsVideo/styles';
@import './pages/Goods/GoodsDescription/styles';
@import './pages/About/AboutSng/styles';
@import './pages/About/AboutMission/styles';
@import './pages/About/AboutDescription/styles';
@import './pages/About/AboutLink/styles';
@import './pages/About/AboutСharact/styles';
@import './pages/Articles/ArticlesMain/styles';
@import './pages/ArticleDetail/styles';
@import './pages/EquipmentDetail/styles';
@import './pages/Contact/ContactMain/styles';
@import './pages/Contact/ContactGeo/styles';
@import './pages/Helper/HelperArticles/styles';
@import './pages/Helper/HelperQuestion/styles';
@import './pages/Helper/HelperDocument/styles';
@import './modals/ModalFeedback/styles';
@import './modals/ModalCollection/styles';
@import './modals/ModalVideo/styles';
@import './modals/ModalPhoto/styles';
@import './ButtonTop/styles';
@import './LineYellow/styles';

// Mixin

.buttonYellow {
	padding: 23px 30px;
	@include flexStyle(center, center, row, 25px);
	cursor: pointer;
	background-color: $color-yellow;
	border-radius: 10px;
	@include fontStyle(18px, 700, 18px, $color-black);
}

.buttonGray {
	background: $color-light-yellow-green;
	padding: 18px 28px;
	border-radius: 10px;
	@include fontStyle(18px, 700, 27px, $color-black);
}

.videoPlaceholder {
	&__video {
		width: 605px;
		height: 484px;
		overflow: hidden;
		border-radius: 20px;
		position: relative;
		& img {
			@include imgFullSize();
		}
	}
	&__player {
		position: absolute;
		bottom: 0;
		cursor: pointer;
		right: 0;
		width: 148px;
		height: 155px;
		overflow: hidden;
		background: $color-blue;
		border-radius: 0px 0px 20px 0px;
		padding: 25px;
		@include flexStyle(flex-end, flex-end, column, 40px);
		box-sizing: border-box;
		& p {
			@include fontStyle(14px, 400, 16px, $color-white);
		}
		& img {
			width: 40px;
			height: 40px;
		}
	}
}

.additionCard {
	width: 282px;
	background: $color-light-yellow-green;
	border-radius: 10px;
	overflow: hidden;
	@include transitionStyle();
	cursor: pointer;
	&:hover {
		background: $color-blue-black;
		& .additionCard__content-title {
			color: $color-white;
		}
		& .additionCard__content-subtitle {
			color: $color-white;
		}
	}
	&__banner {
		width: 100%;
		height: 190px;
		& img {
			@include imgFullSize();
		}
	}
	&__content {
		width: 100%;
		padding: 22px 22px 16px 22px;
		@include flexStyle(center, flex-start, column, 22px);
		&-title {
			text-align: center;
			@include fontStyle(18px, 700, 23px, $color-black);
		}
		&-subtitle {
			@include fontStyle(15px, 500, 25px, $color-black);
			text-align: center;
			letter-spacing: -0.5px;
		}
		&-button {
			background: $color-yellow;
			border-radius: 5px;
			width: 100%;
			padding: 6px 20px;
			@include flexStyle(center, center);
			& p {
				@include fontStyle(13px, 700, 19px, $color-black);
			}
		}
	}
}

//| Media

@media (max-width: 1300px) {
	.containers {
		padding: 0 50px;
	}
}

@media (max-width: 1000px) {
	.containers {
		padding: 0 20px;
	}
}

@media (max-width: 750px) {
	.containers {
		padding: 0 17px;
	}
}

@media (max-width: 900px) {
	.buttonYellow {
		padding: 18px 22px 18px 13px;
		font-size: 15px;
		line-height: 17px;
	}
}
