mixin feedbackCard(logoSrc, docSrc)
    .feedbackCard
        .feedbackCard__logo 
            img(src=logoSrc alt="")
        .feedbackCard__doc 
            img(src=docSrc alt="")

mixin feedbackSection(title)
    section.feedback
        .containers
            .feedback__navbar
                .feedback__title= title
                .feedback__controls
                    .swiper-pagination
                    .swiper-button-next
                        img(src="./svg/components/feedback/arrow-next.svg" alt="alt")
                    .swiper-button-prev
                        img(src="./svg/components/feedback/arrow-prev.svg" alt="alt")

            .feedback__slider 
                .swiper.feedbackSwiper
                    .swiper-wrapper
                        each _, i in Array(12)
                            .swiper-slide 
                                +feedbackCard('./img/components/feedback/logo.png', './img/components/feedback/doc.png')
                
            .feedback__button 
                +buttonYellow('ПРИМЕРЫ РАБОТ', '#')