.feedback {
	background-color: $color-light-yellow-green;
	width: 100%;
	padding: 135px 0 90px 0;
	& .containers {
		width: 100%;
		@include flexStyle(flex-start, flex-start, column, 73px);
	}
	&__navbar {
		width: 100%;
		@include flexStyle(center, space-between, row, 30px);
	}
	&__title {
		@include fontStyle(40px, 700, 58px, $color-blue-black);
	}
	&__controls {
		position: relative;
		width: 400px;
		height: 64px;
		@include flexStyle(center, center, row-reverse, 66px);
		& .swiper-button-next {
			width: 64px;
			height: 64px;
			border-radius: 50%;
			background: $color-yellow;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			margin-top: 0;
			&::after {
				content: none;
			}
		}
		& .swiper-pagination {
			position: absolute;
			top: 50% !important;
			bottom: auto !important;
			left: 50% !important;
			height: 22px;
			margin: 0 auto;
			transform: translate(-50%, -50%) !important;
		}
		& .swiper-pagination-bullet {
			width: 22px;
			height: 22px;
			border-radius: 50%;
			background: $color-gray-light;
			&-active {
				background-color: $color-yellow;
			}
		}
		& .swiper-button-prev {
			width: 64px;
			height: 64px;
			border-radius: 50%;
			background: $color-yellow;
			position: absolute;
			top: 50%;
			margin-top: 0;
			left: 0;
			transform: translate(0, -50%);
			&::after {
				content: none;
			}
		}
	}
	&__slider {
		width: 100%;
		& .swiper-slide {
			@include flexStyle(center, center);
			& .feedbackCard {
				margin: 0 auto;
			}
		}
	}
	&__button {
		width: 100%;
		@include flexStyle(center, flex-end);
	}
}

// Mixin

.feedbackCard {
	cursor: pointer;
	width: 222px;
	@include flexStyle(flex-start, center, column, 31px);
	&__logo {
		width: 100%;
		@include flexStyle(center, center);
	}
	&__doc {
		width: 100%;
		height: 322px;
		& img {
			@include imgFullSize();
		}
	}
}

//| Media

@media (max-width: 900px) {
	.feedback__button {
		display: none;
	}
	.feedback {
		padding: 90px 0 150px 0;
	}
	.feedback .containers {
		position: relative;
	}
	.feedback__controls {
		position: absolute;
		left: 50%;
		bottom: -100px;
		transform: translate(-50%, 0);
	}
}

@media (max-width: 550px) {
	.feedback__controls {
		width: calc(100% - 30px);
	}
	.feedback {
		padding: 70px 0 150px 0;
	}
	.feedback__title {
		font-size: 30px;
		line-height: 34px;
	}
}
