mixin casesBaseCard(src, title, button)
    .casesBaseCard
        a(href="/").casesBaseCard__img 
            img(src=src alt="")
        .casesBaseCard__content 
            .casesBaseCard__title= title 
            a(href="/").casesBaseCard__button
                p= button