.casesBase {
	width: 100%;
	background-color: $color-white;
	padding: 45px 0;
	& .containers {
		width: 100%;
		@include flexStyle(flex-start, flex-start, column, 30px);
	}
	&__subtitle {
		@include fontStyle(14px, 300, 130%, $color-black);
		& a:nth-child(1) {
			@include fontStyle(14px, 300, 130%, $color-black);
		}
		& a:nth-child(2) {
			@include fontStyle(14px, 300, 130%, $color-gray);
		}
	}
	&__title {
		@include fontStyle(40px, 700, 58px, $color-blue-black);
	}
	&__content {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 3fr;
		gap: 26px;
		&-select {
			display: none;
		}
	}
	&__links {
		width: 100%;
		@include flexStyle(flex-start, flex-start, column, 9px);
	}
	&__link {
		width: 100%;
		cursor: pointer;
		& a {
			background: $color-light-yellow-green;
			border-radius: 5px;
			padding: 20px 15px;
			@include flexStyle(center, flex-start);
			@include transitionStyle();
			width: 100%;
		}
		& p {
			@include fontStyle(16px, 700, 130%, $color-blue-black);
			@include transitionStyle();
		}
		&-active {
			& a {
				background-color: $color-blue-black;
			}
			& p {
				color: $color-white;
			}
		}
	}
	&__list {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
		gap: 23px 30px;
	}
}

// Mixin

.casesBaseCard {
	background: $color-light-yellow-green;
	border-radius: 5px;
	overflow: hidden;
	width: 100%;
	cursor: pointer;
	@include flexStyle(flex-start, center, column);
	@include transitionStyle();
	&:hover {
		background: $color-blue-black;
		& .casesBaseCard__title {
			color: $color-white;
		}
	}
	&__img {
		width: 100%;
		height: 221px;
		& img {
			@include imgFullSize();
		}
	}
	&__content {
		width: 100%;
		padding: 25px 25px 20px 25px;
		@include flexStyle(center, center, column, 24px);
	}
	&__title {
		width: 90%;
		text-align: center;
		@include fontStyle(19px, 700, 130%, $color-black);
		@include transitionStyle();
	}
	&__button {
		background: $color-yellow;
		border-radius: 5px;
		padding: 6px 20px;
		width: 100%;
		@include flexStyle(center, center);
		& p {
			@include fontStyle(13px, 700, 19px, $color-black);
			text-align: center;
		}
	}
}

//| Media

@media (max-width: 1100px) {
	.casesBase__content {
		@include flexStyle(flex-start, flex-start, column, 35px);
		&-select {
			position: relative;
			display: block;
			width: 100%;
			& .indexCaseSelect {
				position: relative;
				transform: none;
				left: 0;
				top: 0;
			}
		}
	}
	.casesBase__links {
		display: none;
	}
	.casesBase__title {
		font-size: 25px;
		line-height: 29px;
	}
}

@media (max-width: 550px) {
	.casesBase__content-select .indexCaseSelect {
		width: 80%;
	}
}
