section.catalog-banner 
    .catalog-banner__block
        .catalog-banner__background
        .catalog-banner__photo
            img(src="./img/pages/catalog/catalogBanner/banner.png" alt="")
    .containers 
        .catalog-banner__title Изготовим 
            br
            | по вашему запросу
        .catalog-banner__button 
            +buttonYellow('УЗНАТЬ СТОИМОСТЬ')