section.indexCase
    .containers
        .indexCase__containers
            .indexCase__content 
                .indexCase__content-title Кейсы
                .indexCase__content-subtitle Мы оборудовали более 
                    span 3500 
                    | объектов разной сложности 
                    br 
                    | от небольших комнат до зданий в несколько этажей. 
            .indexCase__controls
                .indexCase__controls-select 
                    +indexCaseSelect
                .indexCase__controls-button 
                    +buttonYellow('СМОТРЕТЬ ВСЕ ПРОЕКТЫ', '#')
        .indexCase__slider
            .swiper.indexCaseSlider
                .swiper-wrapper
                        .swiper-slide 
                            +indexCaseCard('./img/index/indexCase/dec-1.png', 'Стеллаж в холодильник', 'Мобильный стеллаж успешно работает в холодильной камере при t - 35 градусов', '/')
                        .swiper-slide 
                            +indexCaseCard('./img/index/indexCase/dec-2.png', 'Как разместить в 2 раза больше?', 'В действующем помещении разместили в 2 раза больше карточек', '/')
                        .swiper-slide 
                            +indexCaseCard('./img/index/indexCase/dec-3.png', 'Порядок на производстве', 'Укомплектовали производственный цех стеллажами с высокой нагрузкой', '/')
                        .swiper-slide 
                            +indexCaseCard('./img/index/indexCase/dec-1.png', 'Стеллаж в холодильник', 'Мобильный стеллаж успешно работает в холодильной камере при t - 35 градусов', '/')
                        .swiper-slide 
                            +indexCaseCard('./img/index/indexCase/dec-2.png', 'Как разместить в 2 раза больше?', 'В действующем помещении разместили в 2 раза больше карточек', '/')
                        .swiper-slide 
                            +indexCaseCard('./img/index/indexCase/dec-3.png', 'Порядок на производстве', 'Укомплектовали производственный цех стеллажами с высокой нагрузкой', '/')
                        
            .swiper-controls
                .swiper-pagination
                .swiper-button-next
                    img(src="./svg/index/indexCase/arrow-next.svg" alt="")
                .swiper-button-prev
                    img(src="./svg/index/indexCase/arrow-prev.svg" alt="")


