.indexCase
    .containers
        .indexCase__containers
            .indexCase__content 
                .indexCase__content-title Кейсы
                .indexCase__content-subtitle Мы оборудовали более 
                    span 3500 
                    | объектов разной сложности 
                    br 
                    | от небольших комнат до зданий в несколько этажей. 
            .indexCase__controls
                .indexCase__controls-select 
                    +indexCaseSelect
                .indexCase__controls-button 
                    +buttonYellow('СМОТРЕТЬ ВСЕ ПРОЕКТЫ', '/')


//- each _, i in Array(7)