section.indexCase
    .containers
        .indexCase__containers
            .indexCase__content 
                .indexCase__content-title Кейсы
                .indexCase__content-subtitle Мы оборудовали более 
                    span 3500 
                    | объектов разной сложности 
                    br 
                    | от небольших комнат до зданий в несколько этажей. 
            .indexCase__controls
                .indexCase__controls-select 
                    +indexCaseSelect
                .indexCase__controls-button 
                    +buttonYellow('СМОТРЕТЬ ВСЕ ПРОЕКТЫ', '#')
        .indexCase__slider
            .swiper.indexCaseSlider
                .swiper-wrapper
                    each _, i in Array(7)
                        .swiper-slide 
                            +indexCaseCard('./img/index/indexCase/photo.png', 'БИБЛИОТЕКА', 'Установка стационарных стеллажей.', '/')
            .swiper-controls
                .swiper-pagination
                .swiper-button-next
                    img(src="./svg/index/indexCase/arrow-next.svg" alt="")
                .swiper-button-prev
                    img(src="./svg/index/indexCase/arrow-prev.svg" alt="")


