mixin indexCaseSelect
    select(class="indexCaseSelect" name="indexCaseSelect" style="display: none")
        option(value="default" selected="") Архив
        option(value="element_1") Архив 1 
        option(value="element_2") Архив 2
        option(value="element_3") Архив 3 
        option(value="element_4") Архив 4 
        option(value="element_5") Архив 5 
        option(value="element_6") Архив 6 

mixin indexCaseCard(src, title, text)
    .indexCaseCard 
        .indexCaseCard__img 
            img(src=src alt="")
        .indexCaseCard__title= title
        .indexCaseCard__text= text