section.production-stages
    .containers 
        h5.production-stages__title ЭТАПЫ ПРОИЗВОДСТВА
        ul.production-stages__list 
            each _, i in Array(6)
                li.production-stages__item 
                    +productionStages('ЭТАП 1', 'Комплексное оснащение архивной отрасли. Архив конструкторской документации, регистратуры, поликлиники Комплексное оснащение архивной отрасли. Архив конструкторской документации, регистратуры, поликлиникиКомплексное оснащение архивной отрасли. Архив конструкторской документации, регистратуры, поликлиники', './img/pages/production/card.png')