mixin productionStages(title, text, src)
    .productionStages
        .productionStages__banner 
            img(src=src alt="")
        .productionStages__content 
            h5.productionStages__content-title= title 
            p.productionStages__content-text= text