mixin catalogCollectionCard(text)
    .catalogCollectionCard
        .catalogCollectionCard__icon 
            img(src="./svg/pages/catalog/catalogCollection/icon.svg" alt="")
        .catalogCollectionCard__text 
            p= text