footer.footer 
    .containers
        .footer__container 
            .footer__block
                .footer__logo
                    img(src="./svg/footer/logo.svg")
                .footer__phone
                    a(href="tel:88003504677") 8 800-350-46-77
                    p Звонок бесплатный
            .footer__block
                .footer__social
                    .footer__social-title Мы в социальных сетях:
                    ul.footer__social-list
                        li.footer__social-item 
                            a(href="/") 
                                img(src='./img/footer/vk.png' alt='')
                        li.footer__social-item 
                            a(href="/") 
                                img(src='./img/footer/viber.png' alt='')
                        li.footer__social-item 
                            a(href="/") 
                                img(src='./img/footer/telegram.png' alt='')
                        li.footer__social-item 
                            a(href="/") 
                                img(src='./img/footer/youtube.png' alt='')
                ul.footer__list
                    li.footer__list-item 
                        a(href="/") О компании
                    li.footer__list-item 
                        a(href="/") Контакты
                    li.footer__list-item 
                        a(href="/") Условия работы
                    li.footer__list-item 
                        a(href="/") Оплата и доставка
                    li.footer__list-item 
                        a(href="/") Гарантия
                    li.footer__list-item 
                        a(href="/") Бесплатный проект
                ul.footer__list
                    li.footer__list-item 
                        a(href="/") Архив
                    li.footer__list-item 
                        a(href="/") Библиотека
                    li.footer__list-item 
                        a(href="/") Музей
                    li.footer__list-item 
                        a(href="/") Офис
                    li.footer__list-item 
                        a(href="/") Склад
                    li.footer__list-item 
                        a(href="/") Фото обьекта
                    li.footer__list-item 
                        a(href="/") Примеры работ
                .footer__contact
                    +buttonYellow('ЗАКАЗАТЬ РАСЧЕТ', '/')
                    ul.footer__contact-list
                        li.footer__contact-item
                            img(src="./svg/footer/phone.svg" alt="")
                            p Пермь: +7 (342) 233-15-45 (многоканальный)
                        li.footer__contact-item
                            img(src="./svg/footer/phone.svg" alt="")
                            p Москва: +7 (499) 681-01-57
                        li.footer__contact-item
                            img(src="./svg/footer/phone.svg" alt="")
                            p Екатеринбург: +7 (343) 227-15-45
                        li.footer__contact-item
                            img(src="./svg/footer/phone.svg" alt="")
                            p Тюмень: +7 (345) 255-58-89
                        li.footer__contact-item
                            img(src="./svg/footer/phone.svg" alt="")
                            p Нижний Новгород: 8 800 350-46-77
                        li.footer__contact-item
                            img(src="./svg/footer/phone.svg" alt="")
                            p Санкт-Петербург: 8 800 350-46-77
            .footer__block
                p.footer__subtitle © ООО «Фирма «Сатурн» — все права защищены, 2022
                p.footer__text Политика обработки персональных данных
