.footer {
	background-color: $color-blue;
	width: 100%;
	max-height: 630px;
	height: max-content;
	padding: 55px 0 65px 0;
	color: $color-white;
	&__container {
		@include flexStyle(flex-start, flex-start, column, 40px);
		width: 100%;
	}
	&__block {
		width: 100%;
		@include flexStyle(center, space-between, row, 78px);
		box-sizing: border-box;
		&:nth-child(1) {
			padding-right: 80px;
		}
		&:nth-child(2) {
			padding-right: 60px;
			align-items: flex-start;
		}
		&:last-child {
			margin-top: 25px;
		}
	}
	&__subtitle {
		@include fontStyle(14px, 400, 22px, $color-white);
	}
	&__text {
		@include fontStyle(16px, 400, 24px, $color-white);
	}
	&__logo {
		cursor: pointer;
	}
	&__phone {
		@include flexStyle(center, space-between, row, 22px);
		& a {
			@include fontStyle(26px, 700, 21px, $color-white);
		}
		& p {
			@include fontStyle(16px, 400, 21px, $color-white);
		}
	}
	&__social {
		@include flexStyle(flex-start, flex-start, column, 20px);
		&-title {
			@include fontStyle(16px, 700, 24px, $color-white);
			text-transform: uppercase;
		}
		&-list {
			@include flexStyle(center, flex-start, row, 10px);
		}
		&-item {
			width: 47px;
			height: 47px;
			border-radius: 50%;
			background: $color-white;
			& a {
				width: 47px;
				height: 47px;
				@include flexStyle(center, center);
			}
		}
	}
	&__list {
		@include flexStyle(flex-start, flex-start, column, 20px);
		&-item {
			& a {
				@include fontStyle(16px, 400, 21px, $color-white);
			}
		}
	}
	&__contact {
		@include flexStyle(flex-start, flex-start, column, 40px);
		&-button {
			background: $color-yellow;
			border-radius: 10px;
			padding: 23px 38px;
			@include flexStyle(center, center, row, 35px);
			cursor: pointer;
			& p {
				@include fontStyle(18px, 700, 21px, $color-black);
			}
		}
		&-list {
			@include flexStyle(flex-start, flex-start, column, 20px);
		}
		&-item {
			@include flexStyle(center, flex-start, row, 20px);
		}
		&-links {
			@include flexStyle(center, flex-start, row, 4px);
			& a {
				@include fontStyle(16px, 400, 24px, $color-white);
			}
		}
	}
}

//| Media

@media (max-width: 1250px) {
	.footer__list {
		display: none;
	}
}

@media (max-width: 900px) {
	.footer {
		max-height: max-content;
	}
	.footer__block {
		@include flexStyle(flex-start, flex-start, column, 25px);
		padding-right: 0 !important;
	}
}
@media (max-width: 600px) {
	.footer__phone {
		@include flexStyle(flex-start, flex-start, column, 15px);
	}
}

@media (max-width: 400px) {
	.footer__contact-item {
		gap: 10px;
	}
}
