section.indexNews
    .containers 
        .indexNews__title Новости нашей компании
        ul.indexNews__list 
            each _, i in Array(4)
                li.indexNews__item
                    +cardNews('22.07.08', 'Новая акция', '/news/detail')
        .indexNews__button
            +buttonYellow('ВСЕ НОВОСТИ', '#')
