section.article-equipment
    .containers 
        p.article-equipment__subtitle Главная / 
            span Кейсы
        h1.article-equipment__title Дополнительное оборудование
        p.article-equipment__text Производим разделители полок и папок. Выдвижные полки и ящики. Двери распашные и жалюзи (роллеты). Штанги для плечиков, задние стенки, замки,идентификационные таблички на боковые панели, соединители рядов.
        ul.article-equipment__list
            each _, i in Array(12)
                li.article-equipment__item 
                    +additionCard('./img/pages/article/card.png', 'Дополнительное оборудование', 'Идеальный вариант для помещения с ровными полами')