mixin catalogDescriptionCard(text)
    .catalogDescriptionCard
        .catalogDescriptionCard__icon 
            img(src="./svg/pages/catalog/catalogDescription/icon.svg" alt="")
        p.catalogDescriptionCard__text= text 