.catalog-description {
	width: 100%;
	padding: 140px 0 80px 0;
	& .containers {
		@include flexStyle(flex-start, flex-start, column, 35px);
		width: 100%;
	}
	&__title {
		@include fontStyle(40px, 700, 58px, $color-blue-black);
	}
	&__subtitle {
		@include fontStyle(28px, 400, 50px, $color-black);
	}
	&__block {
		margin-top: 35px;
		width: 100%;
		@include flexStyle(flex-start, space-between, row, 35px);
		&-add {
			text-align: center;
			letter-spacing: -0.318182px;
			text-transform: uppercase;
			@include fontStyle(17px, 700, 29px, $color-blue-black);
			width: 90%;
			margin-top: 32px;
		}
		&-content {
			max-width: 630px;
			@include flexStyle(flex-start, flex-start, column, 47px);
		}
		&-text {
			letter-spacing: -0.5px;
			@include fontStyle(20px, 400, 33px, $color-black);
			& span {
				font-weight: 700;
			}
		}
		&-list {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 14px;
		}
	}
}

// Mixin

.catalogDescriptionCard {
	@include flexStyle(flex-start, flex-start, row, 25px);
	width: 300px;
	&__icon {
		width: 69px;
		height: 69px;
		background: $color-yellow;
		border-radius: 20px;
		@include flexStyle(center, center);
	}
	&__text {
		width: 210px;
		@include fontStyle(17px, 400, 26px, $color-black);
		letter-spacing: -0.5px;
	}
}
