.indexAbout
    .containers 
        .indexAbout__text
            span.indexAbout__text-subtitle О компании
            h3.indexAbout__text-title Надежность. Опыт. Сервис.
            p.indexAbout__text-description Компания «Сатурн» занимается производством и реализацией
                br
                | металлических стеллажей и оборудования для архива,
                br 
                | офиса, библиотеки, музея, склада.
        .indexAbout__content
            .indexAbout__content-banner 
                .indexAbout__content-video 
                    +videoPlaceholder('./img/index/indexAbout/video.png')
                p.indexAbout__content-subtitle Познакомьтесь за 2 минуту с нашим предприятием онлайн 
            .indexAbout__content-text 
                p.indexAbout__content-description 
                    span С 1990 
                    | года мы специализируемся на реализации комплексных решений, связанных с хранением. В первую очередь – на использовании передвижных стеллажей с механическим и электрическим приводом. 
                    br
                    br
                    | Фирма сегодня - это 
                    span собственное производство, склад, офис и квалифицированный персонал. 
                    | Мы постоянно расширяем ассортимент выпускаемых изделий, переводим на серийное производство новые модели оборудования.
                .indexAbout__content-button 
                    +buttonYellow('ПОДРОБНЕЕ')