@mixin fontStyle(
	$fontSize: 16px,
	$fontWeight: 400,
	$lineHeight: 20px,
	$color: $color-black,
	$fontStyle: normal
) {
	font-weight: $fontWeight;
	font-size: $fontSize;
	line-height: $lineHeight;
	color: $color;
	font-style: $fontStyle;
}

@mixin flexStyle(
	$alignItems: flex-start,
	$justifyContent: flex-start,
	$flexDirection: row,
	$gap: 0px,
	$flexWrap: nowrap
) {
	display: flex;
	align-items: $alignItems;
	justify-content: $justifyContent;
	flex-direction: $flexDirection;
	gap: $gap;
	flex-wrap: $flexWrap;
}

@mixin imgFullSize($width: 100%, $height: 100%, $objectFit: cover) {
	width: $width;
	height: $height;
	object-fit: $objectFit;
	display: block;
}

@mixin transitionStyle() {
	transition: all 0.5s ease;
}
