@import 'fonts';
@import 'variable';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	overflow-wrap: break-word;
	user-select: text;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-style: normal;
}

a {
	text-decoration: none;
}
ul {
	list-style: none;
}
input {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
}
button {
	padding: 0;
	border: none;
	cursor: pointer;
	outline: none;
}
ol,
ul {
	padding-left: 0;
}
dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 0;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.containers {
	max-width: 1440px;
	padding: 0 90px;
	margin: 0 auto;
	box-sizing: border-box;
}
.display-n {
	display: none !important;
}
opacity-h {
	opacity: 0 !important;
}

//! ---

@import 'mixin';

@import '../components/styles';
