$color-white: #ffffff;
$color-black: #141413;
$color-yellow: #f2ce14;
$color-gray: #808080;
$color-gray-white: #505050;
$color-gray-light: #a5a5a5;
$color-gray-black: #262626;
$color-blue: #201547;
$color-blue-black: #140848;
$color-light-yellow-green: #f1f2ed;
$transparent: transparent;
