mixin cardSearch()
    .card-search 
        a(href="#").card-search__title 1. Мобильные стеллажи передвижные для архива в Нижнем Новгороде (мобильные, передвижные)
        .card-search__content 
            a(href="#").card-search__photo 
                img(src="./img/pages/search/card.png" alt="")
            p.card-search__text Металлические передвижные стеллажи предназначены для хранения документов, печатных изданий, различных товаров. Применяются для оборудования архива, библиотеки или склада. Мобильные стеллажи экономят пространство при большом количестве хранимого или нехватке площадей. Установка дополнительных аксессуаров делает работу удобной.