section.indexLink
    .containers
        .indexLink__content
            .indexLink__content-title 
                span Подберите стеллаж 
                br 
                | под Ваш запрос и узнайте 
                br
                | его 
                span стоимость
            .indexLink__content-subtitle Ответьте на 5 вопросов и получите 
                span ТОП-5 советов "Как эффективно использовать пространство", 
                | а также проект расстановки стеллажей
            .indexLink__content-button
                +buttonYellow('УЗНАТЬ СТОИМОСТЬ')
        .indexLink__banner 
            img(src="./img/index/indexLink/bg.png" alt="")