section.contacts    
    .containers 
        h2.contacts__title ГРУППА КОМПАНИЙ «САТУРН»
        p.contacts__text Мы доставляем нашу продукцию от Калининграда до Дальнего востока и стран СНГ любым удобным видом транспорта

section.formAdd
    .containers 
        p.formAdd__title Подберем решение
        .formAdd__container
            .formAdd__content
                .contact-geo__item 
                    .contact-geo__item-icon 
                        img(src="./img/pages/contact/geo.png" alt="")
                    h5.contact-geo__item-title ОТДЕЛ В ТЮМЕНИ :
                    p.contact-geo__item-text
                        span тел/факс: 
                        a(href="tel:+73422055316") +7 (342) 205-53-16 (многоканальный) 
                        br
                        | Встречи только по предварительной договоренности.
                        br 
                        span E-mail: 
                        a(href="mailto:mail@saturngk.ru") mail@saturngk.ru 

            .formAdd__form 
                script(data-b24-form="inline/50/1hlpi6" data-skip-moving="true").
                    (function(w,d,u){var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);})(window,document,'https://cdn-ru.bitrix24.ru/b19623448/crm/form/loader_50.js');