section.goods-description
    .containers
        h5.goods-description__title КАК КУПИТЬ ?
        p.goods-description__text За консультациями по выбору модели стеллажа, стоимости оборудования, срокам изготовления обращайтесь в наш офис. После получения необходимой информации менеджеры разработают для Вас проект размещения оборудования, сопроводит его подробным техническим описанием. Для предварительного расчета цены стеллажей достаточно, если Вы сообщите габариты помещения и укажите формат хранимой документации или товара, а так же его вес. Доставка и монтаж стеллажей нашими силами так же могут быть включены в стоимость поставки. Часть стандартных комплектующих деталей всегда находится на нашем складе. Поэтому, при покупке стеллажей в нашей компании, Вы можете рассчитывать на быструю поставку.
