section.catalog-request
    .containers 
        .catalog-request__content 
            h5.catalog-request__title Отправьте заявку сейчас получите оптовую цену
            .catalog-request__subtitle БЕСПЛАТНЫЙ ПРОЕКТ
            p.catalog-request__text Персональный менеджер подготовит для Вас бесплатный проект. 
                br 
                | Учитываются все требования заказчика и надзорных служб.
            .catalog-request__subtitle ЗВОНИТЕ
            ul.catalog-request__list
                li.catalog-request__item 
                    p ПЕРМЬ
                    a(href="tel:+73422061616") +7 (342) 206-16-16
                li.catalog-request__item 
                    p МОСКВА
                    a(href="tel:+73422061616") +7 (342) 206-16-16
                li.catalog-request__item 
                    p РОССИЯ
                    a(href="tel:+73422061616") +7 (342) 206-16-16
            .catalog-request__buttons
                +buttonYellow('ЗАКАЗАТЬ БЕСПЛАТНЫЙ ПРОЕКТ')
                +buttonYellow('ПОЛУЧИТЬ ОПТОВУЮ ЦЕНУ')