section.slider 
    .slider__container
        .swiper.mainSliderSwiper
            .swiper-wrapper
                each _, i in Array(5)
                    .swiper-slide 
                        .slider__item(aria-photo="./img/components/slider/card.png")
                            img(src="./img/components/slider/card.png" alt="")
                            button.slider__show
                                img(src="./svg/slider/share.svg" alt="")
        .swiper-controls
            .swiper-button-next
                img(src="./svg/slider/arrow-next.svg" alt="")
            .swiper-button-prev
                img(src="./svg/slider/arrow-prev.svg" alt="")
            .swiper-pagination